@font-face {
  font-family: custom-sans-serif;
  src: local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF; }

@font-face {
  font-family: custom-sans-serif;
  src: local(Times New Roman), local(Arial);
  unicode-range: U+00-024F; }

* {
  padding: 0;
  margin: 0;
  font-family: "custom-sans-serif"; }
.ask_wrapper,.win_wrapper,.collection_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}
.collection_wrapper .collection_lightbox,
    .ask_wrapper .ask_lightbox,
.win_wrapper .win_lightbox {
    width: 360px;
    height: 180px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/findTeacher/paper.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 11;
    filter:drop-shadow(0px 0px 5px #533e2f);
}
.collection_wrapper .collection_lightbox .lightboxClose,
.ask_wrapper .ask_lightbox .lightboxClose ,
    .win_wrapper .win_lightbox .lightboxClose {

    margin: 20px 0 15px 300px;
    font-size: 25px;
    display: block;
    color: #533e2f;
    transition: 0.2s filter;
    filter: drop-shadow(0px 0px 5px #fec16a);
}

.collection_wrapper .collection_lightbox .lightboxClose:hover,
.ask_wrapper .ask_lightbox .lightboxClose:hover ,
    .win_wrapper .win_lightbox .lightboxClose:hover {

    color: #533e2f;
    cursor: url('../img/share/cursor.png') 12 5, auto;
    filter: drop-shadow(0px 0px 10px #533e2f);
}

.collection_wrapper .collection_lightbox p,
.ask_wrapper .ask_lightbox p,
.win_wrapper .win_lightbox p{
    text-align: center;
}
.collection_wrapper .collection_lightbox p,
.win_wrapper .win_lightbox p{
    margin-top: 20px;
}
.ask_wrapper .ask_lightbox .btnM{
    margin: 15px auto;
    display: block;
}
.reportLightBox .btnM{
    display:block;
    margin:10px auto;
}


/* 評價分數 */
.specialColumn .columnBorder .authorIntro .author .links .stars .rating{
    display: inline-block;
    vertical-align: middle;
}
.specialColumn .columnBorder .authorIntro .author .links .stars .starCount{
    font-size: 25px;
    color:rgb(225,225,0);
    display: inline-block;
    vertical-align: middle;
}

/* 美化 */
@media screen and (min-width:960px){
       .replys .columnBorder .authorIntro .authorPhoto {
           width: 13%;
       }

       .replys .columnBorder .authorIntro .author {
           width: 87%;
           margin-top: 0%;
           margin-bottom: 5%;
       }

       .replys .columnBorder article {
           margin-left: 15px;
       }
}
@media screen and (max-width: 959px) and (min-width: 760px){
    .replys .columnBorder .authorIntro .authorPhoto{
        width: 30%;
    }
}
 
