@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Arial',"微軟正黑體"; }

.background {
  background-image: url(../img/share/background_pure.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  z-index: -5; }
  .background .flash {
    position: fixed;
    width: 700px;
    opacity: 0; }
  .background .lt1 {
    left: -150px;
    top: 30px;
    animation: flashing1 10s;
    animation-iteration-count: infinite; }
  .background .lt2 {
    left: 0px;
    top: 70px;
    animation: flashing2 10s;
    animation-iteration-count: infinite; }
  .background .lt3 {
    right: 90px;
    top: 50px;
    animation: flashing3 10s;
    animation-iteration-count: infinite; }
  .background .lt4 {
    right: 130px;
    top: 20px;
    animation: flashing4 10s;
    animation-iteration-count: infinite; }

@keyframes flashing1 {
  24% {
    opacity: 0; }
  25% {
    opacity: 1; }
  35% {
    opacity: 0; }
  70% {
    opacity: 0; }
  71% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes flashing2 {
  5% {
    opacity: 0; }
  6% {
    opacity: 1; }
  20% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  60% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes flashing3 {
  34% {
    opacity: 0; }
  35% {
    opacity: 1; }
  60% {
    opacity: 0; }
  61% {
    opacity: 1; }
  70% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes flashing4 {
  18% {
    opacity: 0; }
  19% {
    opacity: 1; }
  25% {
    opacity: 0; }
  38% {
    opacity: 0; }
  39% {
    opacity: 1; }
  50% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }

h2 {
  padding-top: 30px;
  font-size: 45px;
  text-align: center;
  color: #ddd; }
  @media all and (min-width: 760px) and (max-width: 959px) {
    h2 {
      font-size: 40px; } }
  @media all and (min-width: 480px) and (max-width: 759px) {
    h2 {
      font-size: 35px; } }
  @media all and (max-width: 479px) {
    h2 {
      font-size: 25px; } }

.specialColumn, .replys, .memberReply {
  max-width: 960px;
  margin: 30px auto;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8); }
  .specialColumn .columnBorder, .replys .columnBorder, .memberReply .columnBorder {
    border: 50px solid transparent;
    border-image: url(../img/specialColumn/frame_960x960.png) 90 90 repeat;
    padding: 20px; }
    .specialColumn .columnBorder:after, .replys .columnBorder:after, .memberReply .columnBorder:after {
      content: '';
      display: block;
      clear: both; }
    @media all and (min-width: 760px) and (max-width: 959px) {
      .specialColumn .columnBorder, .replys .columnBorder, .memberReply .columnBorder {
        border: 40px solid transparent;
        border-image: url(../img/specialColumn/frame_960x960.png) 90 90 repeat;
        padding: 20px; } }
    @media all and (min-width: 480px) and (max-width: 759px) {
      .specialColumn .columnBorder, .replys .columnBorder, .memberReply .columnBorder {
        border: 30px solid transparent;
        border-image: url(../img/specialColumn/frame_960x960.png) 90 90 repeat;
        padding: 10px; } }
    @media all and (max-width: 479px) {
      .specialColumn .columnBorder, .replys .columnBorder, .memberReply .columnBorder {
        border: 30px solid transparent;
        border-image: url(../img/specialColumn/frame_960x960.png) 90 90 repeat;
        padding: 0; } }
    .specialColumn .columnBorder .authorIntro, .replys .columnBorder .authorIntro, .memberReply .columnBorder .authorIntro {
      width: 100%; }
      .specialColumn .columnBorder .authorIntro:after, .replys .columnBorder .authorIntro:after, .memberReply .columnBorder .authorIntro:after {
        display: block;
        content: '';
        clear: both; }
      .specialColumn .columnBorder .authorIntro .authorPhoto, .replys .columnBorder .authorIntro .authorPhoto, .memberReply .columnBorder .authorIntro .authorPhoto {
        width: 20%;
        float: left;
        min-width: 100px; }
        .specialColumn .columnBorder .authorIntro .authorPhoto img, .replys .columnBorder .authorIntro .authorPhoto img, .memberReply .columnBorder .authorIntro .authorPhoto img {
          width: 100%;
          box-sizing: border-box;
          border: 3px solid #fff; }
        @media all and (min-width: 760px) and (max-width: 959px) {
          .specialColumn .columnBorder .authorIntro .authorPhoto, .replys .columnBorder .authorIntro .authorPhoto, .memberReply .columnBorder .authorIntro .authorPhoto {
            width: 50%;
            margin: auto;
            float: none; } }
        @media all and (min-width: 480px) and (max-width: 759px) {
          .specialColumn .columnBorder .authorIntro .authorPhoto, .replys .columnBorder .authorIntro .authorPhoto, .memberReply .columnBorder .authorIntro .authorPhoto {
            width: 50%;
            margin: auto;
            float: none; } }
        @media all and (max-width: 479px) {
          .specialColumn .columnBorder .authorIntro .authorPhoto, .replys .columnBorder .authorIntro .authorPhoto, .memberReply .columnBorder .authorIntro .authorPhoto {
            width: 50%;
            margin: auto;
            float: none; } }
      .specialColumn .columnBorder .authorIntro .author, .replys .columnBorder .authorIntro .author, .memberReply .columnBorder .authorIntro .author {
        width: 80%;
        background-color: #ccc;
        float: right;
        margin-top: 5%;
        box-sizing: border-box;
        padding: 10px; }
        .specialColumn .columnBorder .authorIntro .author:after, .replys .columnBorder .authorIntro .author:after, .memberReply .columnBorder .authorIntro .author:after {
          content: '';
          display: block;
          clear: both; }
        @media all and (min-width: 760px) and (max-width: 959px) {
          .specialColumn .columnBorder .authorIntro .author, .replys .columnBorder .authorIntro .author, .memberReply .columnBorder .authorIntro .author {
            width: 100%;
            float: none; } }
        @media all and (min-width: 480px) and (max-width: 759px) {
          .specialColumn .columnBorder .authorIntro .author, .replys .columnBorder .authorIntro .author, .memberReply .columnBorder .authorIntro .author {
            width: 100%;
            float: none; } }
        @media all and (max-width: 479px) {
          .specialColumn .columnBorder .authorIntro .author, .replys .columnBorder .authorIntro .author, .memberReply .columnBorder .authorIntro .author {
            width: 100%;
            float: none; } }
        .specialColumn .columnBorder .authorIntro .author .intro, .replys .columnBorder .authorIntro .author .intro, .memberReply .columnBorder .authorIntro .author .intro {
          float: left;
          margin-left: 20px; }
          @media all and (max-width: 479px) {
            .specialColumn .columnBorder .authorIntro .author .intro, .replys .columnBorder .authorIntro .author .intro, .memberReply .columnBorder .authorIntro .author .intro {
              display: block;
              float: none;
              text-align: center;
              margin-left: 0; } }
          .specialColumn .columnBorder .authorIntro .author .intro a, .replys .columnBorder .authorIntro .author .intro a, .memberReply .columnBorder .authorIntro .author .intro a {
            font-size: 20px;
            text-decoration: none;
            color: #333;
            font-weight: bold; }
        .specialColumn .columnBorder .authorIntro .author .links, .replys .columnBorder .authorIntro .author .links, .memberReply .columnBorder .authorIntro .author .links {
          list-style-type: none;
          float: right; }
          @media all and (max-width: 479px) {
            .specialColumn .columnBorder .authorIntro .author .links, .replys .columnBorder .authorIntro .author .links, .memberReply .columnBorder .authorIntro .author .links {
              display: block;
              float: none;
              text-align: center; } }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .specialColumn .columnBorder .authorIntro .author .links .stars, .replys .columnBorder .authorIntro .author .links .stars, .memberReply .columnBorder .authorIntro .author .links .stars {
              margin-top: 10px;
              display: block; } }
          @media all and (max-width: 479px) {
            .specialColumn .columnBorder .authorIntro .author .links .stars, .replys .columnBorder .authorIntro .author .links .stars, .memberReply .columnBorder .authorIntro .author .links .stars {
              margin-top: 10px;
              display: block; } }
          .specialColumn .columnBorder .authorIntro .author .links li, .replys .columnBorder .authorIntro .author .links li, .memberReply .columnBorder .authorIntro .author .links li {
            display: inline-block; }
            @media all and (max-width: 479px) {
              .specialColumn .columnBorder .authorIntro .author .links li, .replys .columnBorder .authorIntro .author .links li, .memberReply .columnBorder .authorIntro .author .links li {
                margin-top: 10px; } }
            .specialColumn .columnBorder .authorIntro .author .links li i, .replys .columnBorder .authorIntro .author .links li i, .memberReply .columnBorder .authorIntro .author .links li i {
              color: #ff0; }
            .specialColumn .columnBorder .authorIntro .author .links li a, .replys .columnBorder .authorIntro .author .links li a, .memberReply .columnBorder .authorIntro .author .links li a {
              text-decoration: none;
              color: #000;
              text-shadow: 0px 0px 5px #0ff;
              display: inline-block;
              width: 50px;
              height: 30px;
              line-height: 26px;
              text-align: center;
              background-color: transparent;
              box-sizing: border-box;
              border: 2px solid #000;
              box-shadow: 0px 0px 5px #0ff;
              transition: all 0.3s; }
              .specialColumn .columnBorder .authorIntro .author .links li a:hover, .replys .columnBorder .authorIntro .author .links li a:hover, .memberReply .columnBorder .authorIntro .author .links li a:hover {
                background-color: #333;
                color: #0ff;
                cursor: url(../img/cursor.png), pointer; }
            .specialColumn .columnBorder .authorIntro .author .links li + li, .replys .columnBorder .authorIntro .author .links li + li, .memberReply .columnBorder .authorIntro .author .links li + li {
              margin-left: 10px; }
    .specialColumn .columnBorder article, .replys .columnBorder article, .memberReply .columnBorder article {
      padding-top: 30px;
      padding-bottom: 30px; }
      .specialColumn .columnBorder article p, .replys .columnBorder article p, .memberReply .columnBorder article p {
        color: #ddd;
        font-size: 20px; }
        @media all and (min-width: 760px) and (max-width: 959px) {
          .specialColumn .columnBorder article p, .replys .columnBorder article p, .memberReply .columnBorder article p {
            font-size: 16px; } }
        @media all and (min-width: 480px) and (max-width: 759px) {
          .specialColumn .columnBorder article p, .replys .columnBorder article p, .memberReply .columnBorder article p {
            font-size: 14px; } }
        @media all and (max-width: 479px) {
          .specialColumn .columnBorder article p, .replys .columnBorder article p, .memberReply .columnBorder article p {
            font-size: 14px; } }
        .specialColumn .columnBorder article p + p, .replys .columnBorder article p + p, .memberReply .columnBorder article p + p {
          margin-top: 20px; }

.memberReply h3 {
  text-align: center;
  font-size: 24px;
  color: #ddd;
  font-weight: bold; }

.memberReply textarea {
  display: block;
  margin: 20px auto 0px auto;
  width: 90%;
  height: 300px;
  font-size: 22px;
  box-sizing: border-box;
  padding: 10px; }

.memberReply input {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  margin: 20px auto 0px auto;
  border: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  background-image: url(../img/findTeacher/btn.png);
  background-position: center center;
  background-size: 100% 100%; }
  .memberReply input:focus {
    outline: 0; }
