*{
	margin: 0;
	padding: 0;
}

.backBtn{
	color: #333;
}

.backBtn i:hover{
	color: #533e2f;
	cursor: url(../img/share/cursor.png)20 15, auto;
}

.backBtn i:active{
	cursor: url(../img/share/cursor2.png)20 15, auto;
}
