*{
	margin: 0;
	padding: 0;
}

.backBtn{
	width: 70px;
	height: 70px;
	background-image: url(../img/backBtn/crystalball.png);
	background-size: 100%;
}

.backBtn:hover{
	background-image: url(../img/backBtn/crystalball_hover.png);
	background-size: 100%;
	transition: .2s;
}

.backBtn p{
	text-decoration: none;
	color: #ddd;
	position: absolute;
	top: 3%;
	left: 1.1%;
}