	/*內頁導覽列*/

.rightNav{
	text-align: center;
	box-sizing: border-box;
	font-size: 0;
}
.rightNav3 li{
	display: inline-block;
	width: 20%;
	margin:0 6.6%;
	font-size: 16px;
	text-align: center;
	background: #999;
}

.resetBtn a{
	display: inline-block;
	width: 20%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0 auto;
	font-size: 16px;
	text-align: center;
	border: 2px solid #fff;
	transition: .2s;
	height: 50px;
	line-height: 50px;
}
.resetBtn a:hover{
	background: #333;
	color: #ddd;
	border: 2px solid #333;
}

	/*表單*/

.tr:first-of-type{
	font-weight: bold;
}
.tr .col{
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}
.tr .no{
	width: 6%;
}
.tr .account{
	width: 12%;
}
.tr .psw{
	width: 12%;
}
.tr .nickname{
	width: 12%;
}
.tr .tel{
	width: 12%;
}
.tr .karma{
	width: 8%;
}
.tr .pic{
	width: 12%;
}
.tr .sta{
	width: 6%;
}
.tr .alter{
	width: 20%;
}
.tr .alter a{
	margin-left: 10%;
}

