	/*內頁導覽列*/

.rightNav{
	text-align: center;
	box-sizing: border-box;
	font-size: 0;
}
.rightNav3 li{
	display: inline-block;
	width: 20%;
	margin:0 6.6%;
	font-size: 16px;
	text-align: center;
	background: #999;
}

	/*表單*/
.tr:first-of-type{
	font-weight: bold;
}
.tr .col{
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}
.tr .memNo{
	width: 13%;
}
.tr .pdNo{
	width: 13%;
}
.tr .orderTime{
	width: 22%;
}
.tr .stat{
	width: 13%;
}
.tr .total{
	width: 13%;
}
.tr .karmaDec{
	width: 13%;
}
.tr .alter{
	width: 13%;
}
.tr .alter a{
	margin-left: 10%;
}