	/*表單*/
.tr:first-of-type{
	font-weight: bold;
}
.tr .col{
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}
.tr .category input,.name input,.price input,.sale input,.stock input,.decrement input{
	width: 90%;
}
.tr textarea{
	width: 90%;
	height: 150px;
}
.tr .no{
	width: 5%;
}
.tr .category{
	width: 9%;
}
.tr .name{
	width: 9%;
}
.tr .price{
	width: 5%;
}
.tr .sale{
	width: 5%;
}
.tr .stock{
	width: 5%;
}
.tr .decrement{
	width: 7%;
}
.tr .pic{
	width: 10%;
}
.tr .pic label{
	width: 90%;
	margin: auto;
	height: 24px;
	border: 2px solid #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	color: #333;
}
#fileInput{
	display: none;
}
.tr .describe{
	width: 30%;
}
.tr .stat{
	width: 5%;
}
.tr .alter{
	width: 10%;
}
.tr .alter a{
}
.right > div:last-child{
	border-bottom: 0;
}

	/*lightBox*/

#lightBoxControl{
	position: fixed;
	left: -20px;
	top: 0;
}
.lightBox{
	position: fixed;
	top: 0;
	left: -100%;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: opacity 1s, left 0s 1s;
}
#lightBoxControl:checked~.lightBox{
	left: 0;
	opacity: 1;
	transition: opacity 1s;
}
.boxContent{
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	width: 400px;
	height: 500px;
	margin: auto auto;
	background: #ccc;
	box-sizing: border-box;
	padding: 40px;
}
.lightBox .boxContent p{
	margin-bottom: 10px;
}
.lightBox .boxContent .exit{
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 16px;
	cursor: pointer;
}
.lightBox .boxContent p span{
	font-size: 16px;
}
.lightBox .boxContent .input span:first-of-type{
	display: inline-block;
	width: 64px;
	text-align: right;
}
.lightBox .boxContent p span+span{
	margin-left: 10%;
}
.lightBox .boxContent .input span+span input[type=text],
.lightBox .boxContent .input span+span select{
	box-sizing: border-box;
	width: 150px;
}
.lightBox .boxContent .center{
	text-align: center;
}
.lightBox .boxContent p textarea{
	display: inline-block;
	width: 80%;
	box-sizing: border-box;
}