@font-face {
	font-family: "王漢宗特明體 – 標準";
	src: url("../font/王漢宗特明體 – 標準.ttf"); }

	@font-face {
		font-family: "王漢宗中明體繁- 細";
		src: url("../font/王漢宗中明體繁- 細.ttf"); }

.btnText{
	display: inline-block;
	color:rgb(255, 246, 231);
	text-decoration: none;
	font-family: "王漢宗中明體繁- 細";
	margin: 0;padding: 0;
	border: none;
	background: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
	box-sizing: border-box;
}
.btnText:hover{
	color: rgb(253, 245, 218);
}
.btnL{
	display: inline-block;
	width: 200px;
	height: 50px;
	background: url(../img/btn/01.png) center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-weight: bold;
}
.btnL .btnText{
	font-size: 20px;
	line-height: 50px;
}
.btnL .btnText2{
	padding-left: 20px;
	letter-spacing: 20px;
}
.btnL .btnText4{
	padding-left: 10px;
	letter-spacing: 10px;
}
.btnL .btnText6{
	padding-left: 3px;
	letter-spacing: 2px;
}
.btnM{
	display: inline-block;
	width: 150px;
	height: 37.5px;
	background: url(../img/btn/01.png) center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-weight: bold;
}
.btnM .btnText{
	font-size: 14px;
	line-height: 37.5px;
}
.btnM .btnText2{
	padding-left: 15px;
	letter-spacing: 15px;
}
.btnM .btnText4{
	padding-left: 3px;
	letter-spacing: 5px;
}
.btnM .btnText6{
	letter-spacing: 1px;
}
.btnS{
	display: inline-block;
	width: 100px;
	height: 25px;
	background: url(../img/btn/01.png) center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-weight: bold;
}
.btnS .btnText{
	font-size: 12px;
	line-height: 25px;
}
.btnS .btnText2{
	padding-left: 12px;
	letter-spacing: 12px;
}
.btnS .btnText4{
	padding-left: 3px;
	letter-spacing: 1px;
}
.btnS .btnText6{
	padding-left: 2.5px;
	letter-spacing: 0.5px;
}
.btnM:focus,.bntL:focus, .btnS:focus{
	outline:none;
}
	.btnM:hover,
.btnL:hover,
	.btnS:hover {
	cursor: url(../img/share/cursor.png) 12 5, auto;
}

.btnM:active,
	.btnML:active,
		.btnS:active {
	cursor: url(../img/share/cursor2.png) 12 5, auto;
}