@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@font-face {
  font-family: "王漢宗中明體繁- 細";
  src: url("../font/王漢宗中明體繁- 細.ttf"); }

@font-face {
  font-family: "王漢宗粗明體繁-中";
  src: url("../font/王漢宗粗明體繁-中.ttf"); }

@font-face {
  font-family: "王漢宗特明體 – 標準";
  src: url("../font/王漢宗特明體 – 標準.ttf"); }

body {
  font-family: "微軟正黑體";
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/dozen_storedetail/bg.jpg); }

  h2{
    font-family: "王漢宗特明體 – 標準";
  }

@media all and (max-width: 479px) {
  background-image: url(../img/hamburger/bright-galaxy-space-plain.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 10%; }

.header .logo {
  width: 100px;
  position: fixed;
  left: calc(50% - 50px);
  top: 3%; }

.cart {
  color: white;
  font-family: "王漢宗中明體繁- 細";
  display: inline-block;
  position: fixed;
  top: 10%;
  right: 5%; }
  @media all and (max-width: 479px) {
    .cart {
      display: none; } }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px; }
  @media all and (max-width: 479px) {
    .header .logo {
      width: 100px; } }
  .header p {
    color: #fff; }
    .header p a {
      text-decoration: none;
      color: red; }

#person {
  color: red; }

.frame {
  position: relative;
  margin: 0 auto;
  margin-top: 13%;
  max-width: 960px;
  background-image: url(../img/dozen_storedetail/texture.png);
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  padding: 70px; }
  .frame .frameFrame {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 50px solid transparent;
    border-image: url(../img/frame_960x960.png) 90 90 repeat;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 5px #000) drop-shadow(2px 2px 5px #000); }
  .frame .product {
    position: relative;
    z-index: 4; }
    .frame .product .productContent:after {
      content: '';
      display: block;
      clear: both; }
    .frame .product .productContent .one {
      position: relative;
      box-sizing: border-box;
      width: 50%;
      float: left;
      background-size: cover;
      text-align: center; }
      .frame .product .productContent .one .picFrame {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        border: 40px solid transparent;
        border-image: url(../img/dozen_storedetail/frame3.png) 20 20 repeat; }
      @media all and (max-width: 479px) {
        .frame .product .productContent .one {
          float: none;
          width: 100%; } }
      .frame .product .productContent .one img {
        padding: 10% 0;
        width: 80%; }
    .frame .product .productContent .text {
      width: 50%;
      float: left;
      padding: 10%;
      box-sizing: border-box;
      padding: 5%; }
      .frame .product .productContent .text #textTitle {
        font-family: "王漢宗特明體 – 標準";
        font-size: 25px;
        letter-spacing: 5px;
        color: #533e2f;
        display: inline-block; }
      .frame .product .productContent .text #price {
      
        letter-spacing: 5px;
        color: #533e2f;
        display: inline-block;
        margin-bottom: 2%; 
      }

        .frame .product .productContent .text #karma_dec {
          font-family: "王漢宗中明體繁- 細";
          font-size: 14px;
          letter-spacing: 5px;
          color: #c53522;
          display: inline-block;
          margin-bottom: 2%; }
      .frame .product .productContent .text i {
        color: yellow; }
      .frame .product .productContent .text .rate {
        display: inline;
        color: #533e2f; }
      .frame .product .productContent .text hr {
        margin: 5% auto; }
      @media all and (max-width: 479px) {
        .frame .product .productContent .text {
          float: none;
          width: 100%; } }
    .frame .product .productContent hr {
      height: 1px;
      border: none;
      background-color: #533e2f; }
    .frame .product .productContent .innerText {
      color: #533e2f; }
      .frame .product .productContent .innerText p {
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 24px; }
    .frame .product .productContent .btn {
      margin-top: 10%; }
      .frame .product .productContent .btn:after {
        content: '';
        display: block;
        clear: both; }
      .frame .product .productContent .btn .amount {
        float: left;
        color: #fff; }
        @media all and (max-width: 479px) {
          .frame .product .productContent .btn .amount {
            float: none;
            width: 100%;
            margin-bottom: 50px; } }
        .frame .product .productContent .btn .amount label {
          display: inline-block;
          margin-bottom: 2%;
          color: #533e2f;
          letter-spacing: 5px;
          font-size: 14px; }
        .frame .product .productContent .btn .amount .qtyminus, .frame .product .productContent .btn .amount .qtyplus {
          width: 30px;
          height: 30px;
          border: 0;
          color: white;
          background-color: transparent;
          background-image: url(../img/dozen_storedetail/btn1.png);
          background-size: cover;
          background-position: center center; }
          .frame .product .productContent .btn .amount .qtyminus:hover, .frame .product .productContent .btn .amount .qtyplus:hover {
            cursor: url(../img/share/cursor.png) 20 15, auto; }
          .frame .product .productContent .btn .amount .qtyminus:focus, .frame .product .productContent .btn .amount .qtyplus:focus {
            outline: none; }
          .frame .product .productContent .btn .amount .qtyminus:active, .frame .product .productContent .btn .amount .qtyplus:active {
            box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
            cursor: url(../img/share/cursor2.png) 20 15, auto; }
        .frame .product .productContent .btn .amount .qty {
          background-image: url(../img/dozen_storedetail/input.png);
          background-size: cover;
          width: 70px;
          height: 30px;
          border: none;
          outline: none;
          color: #fff;
          text-align: center; }
      .frame .product .productContent .btn .buy {
        float: right; }
        @media all and (max-width: 479px) {
          .frame .product .productContent .btn .buy {
            float: none;
            width: 100%; } }
            
        .frame  .productContent .btn .buy .name .buyNow  {
          color: #fff;
          font-size: 12px;
          letter-spacing: 4px;
          display: block;
          width: 150px;
          height: 40px;
          line-height: 37px;
          text-align: center;
          text-decoration: none;
          background-image: url(../img/dozen_storedetail/btn.png);
          background-size: contain;
          cursor: pointer;
         }

         .frame  .productContent .btn .buy .name .buyNow:hover  {
          background-image: url(../img/dozen_storedetail/btn2.png);
         }

          .frame .product .productContent .btn .buy a:hover {
            cursor: url(../img/share/cursor.png) 20 15, auto; }
          .frame .product .productContent .btn .buy a:focus {
            outline: none; }
          .frame .product .productContent .btn .buy a:active {
            box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
            cursor: url(../img/share/cursor2.png) 20 15, auto; }
          @media all and (max-width: 479px) {
            .frame .product .productContent .btn .buy a {
              margin: 0 auto; } }
