@charset "UTF-8";
@font-face {
  font-family: "王漢宗中明體繁- 細";
  src: url("../font/王漢宗中明體繁- 細.ttf"); }

@font-face {
  font-family: "王漢宗粗明體繁-中";
  src: url("../font/王漢宗粗明體繁-中.ttf"); }

@font-face {
  font-family: "王漢宗特明體 – 標準";
  src: url("../font/王漢宗特明體 – 標準.ttf"); }

* {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體";
   }


.background {
  background-image: url(../img/dozen_store/bg.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  top:0;
  left: 0;
  z-index: -5; }

.background .flash {
  position: fixed;
  width: 700px;
  opacity: 0; }

.background .lt1 {
  left: -150px;
  top: 30px;
  animation: flashing1 10s;
  animation-iteration-count: infinite; }

.background .lt2 {
  left: 0px;
  top: 70px;
  animation: flashing2 10s;
  animation-iteration-count: infinite; }

.background .lt3 {
  right: 90px;
  top: 50px;
  animation: flashing3 10s;
  animation-iteration-count: infinite; }

.background .lt4 {
  right: 130px;
  top: 0px;
  animation: flashing4 10s;
  animation-iteration-count: infinite; }

@keyframes flashing1 {
  24% {
    opacity: 0; }
  25% {
    opacity: 1; }
  35% {
    opacity: 0; }
  70% {
    opacity: 0; }
  71% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes flashing2 {
  5% {
    opacity: 0; }
  6% {
    opacity: 1; }
  20% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  60% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes flashing3 {
  34% {
    opacity: 0; }
  35% {
    opacity: 1; }
  60% {
    opacity: 0; }
  61% {
    opacity: 1; }
  70% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes flashing4 {
  18% {
    opacity: 0; }
  19% {
    opacity: 1; }
  25% {
    opacity: 0; }
  38% {
    opacity: 0; }
  39% {
    opacity: 1; }
  50% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* loading動畫 */
.loadBG {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  
 }

 .LOGOrotate{
   width: 300px;
  animation: loadLOGO 3s linear infinite ;


 }

  @keyframes loadLOGO {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(180deg); } 
    }

/* .loading {
  border: 1px solid #000;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-right: 2px solid #000;
  box-shadow: 2px 2px 2px rgba(90, 253, 15, 0.6);
  box-shadow: 0 0 30px #fff, inset 0 0 30px #fff;
  border-bottom: 2px solid #fff;
  -webkit-animation: loading 1s infinite linear;
  -moz-animation: loading 1s infinite linear;
  -o-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  position: fixed;
  left: calc(50% - 75px);
  top: calc(50% - 75px); } */

@keyframes loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes LOGOrotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }

.loadLOGO img {
  position: fixed;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px; }

.bar {
  z-index: 100;
  width: 12vw;
  height: .25vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 16vw;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  background: #333; }

.progress {
  z-index: 100;
  width: 12vw;
  height: .5vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  background: #fff; }

.progress {
  animation: progress 4s ease;
  -moz-animation: progress 4s ease;
  /* Firefox */
  -webkit-animation: progress 4s ease;
  /* Safari and Chrome */
  -o-animation: progress 4s ease;
  /* Opera */ }

@keyframes progress {
  0% {
    left: -24vw; }
  10% {
    left: -20vw; }
  30% {
    left: -16vw; }
  50% {
    left: -12vw; }
  65% {
    left: -10vw; }
  80% {
    left: -4vw; }
  100% {
    left: 0; } }


.storeH1{
  /* padding-top: 100px; */
  font-size: 45px;
  text-align: center;
  color: #ddd;
  margin: 250px 10px 80px 10px;
  letter-spacing: 30px;
  text-shadow: 2px 3px 1px #000;
}



.storeFrame {
  position: relative;
  margin: 0 auto;
  margin-top: 13%;
  max-width: 960px;
  background-image: url(../img/dozen_store/texture.png);
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;

}

.frameFrame{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 50px solid transparent;
  border-image: url(../img/frame_960x960.png)90 90 repeat;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px #000) drop-shadow(2px 2px 5px #000);
}

.storeFrame .wrapper{
  position: relative;
  z-index: 4;
  padding: 70px;


}

@media all and (max-width: 479px) {
  .storeFrame .wrapper {
    padding: 40px;
    padding-top: 100px;
  } 
  .frameFrame{
    border: 30px solid transparent;
    border-image: url(../img/frame_960x960.png)90 90 repeat;
  }





}




  .storeFrame .search {
    width: 100%; 
    padding: 0 70px;
      box-sizing: border-box;
    
  }
    .storeFrame .search:after {
      content: '';
      display: block;
      clear: both; 
    }

    


    .storeFrame .search .filter {
      float: left;
      text-align: center; }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .storeFrame .search .filter {
          float: none; } }
      @media all and (max-width: 479px) {
        .storeFrame .search .filter {
          float: none; } }
      .storeFrame .search .filter select {
        width: 200px;
        height: 30px; 
        background-color: #222;
        border: none;
        color: #ccc;
        
      }

      .storeFrame .search .filter select:focus{
        outline: none;
      }

        @media all and (min-width: 480px) and (max-width: 759px) {
          .storeFrame .search .filter select {
            width: 90%; } }
        @media all and (max-width: 479px) {
          .storeFrame .search .filter select {
            width: 90%; } }


    .storeFrame .search .searchBox {
      float: right;
      text-align: center;
      position: relative;
      
    
    }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .storeFrame .search .searchBox {
          margin-top: 10px;
          float: none; } }
      @media all and (max-width: 479px) {
        .storeFrame .search .searchBox {
          margin-top: 10px;
          float: none; } }


      .storeFrame .search .searchBox input {
        width: 200px;
        height: 32px; 
        background-image: url(../img/dozen_store/input.png);
        background-size: 100% 100%;
        background-color: transparent;
        border: none;
        padding-left: 20px;
        box-sizing: border-box;
        color: #ccc;
        
      
      }

      .storeFrame .search .searchBox input:focus{
        outline: none;
      }


        @media all and (min-width: 480px) and (max-width: 759px) {
          .storeFrame .search .searchBox input {
            width: 90%; } }
        @media all and (max-width: 479px) {
          .storeFrame .search .searchBox input {
            width: 90%; } }

            .storeFrame .search .searchBox i{
              position: absolute;
              top: 20%;
              right: 10%;
              color: #aaa;

            }

            @media all and (max-width: 479px) {
              .storeFrame .search .searchBox i {
                display: none;
              } }


  .storeFrame .content {
    margin-top: 50px;
    padding-left: 10%;
    margin-bottom: 30px;
   
  }

  hr{
    width: 80%;
    margin: 0 auto;
    border: none;
    background-color: #533e2f;
    height: 1px;
    
  }

  @media all and (max-width: 479px) {
    .storeFrame .content {
      padding-left: 0;
    } }
    .storeFrame .content:after {
      content: '';
      display: block;
      clear: both; }
    .storeFrame .content .pic {

      position: relative;
     
      width: 30%;
      float: left;
      text-align: center;
     }

      .storeFrame .content .pic .picFrame{
        
          position: absolute;
          box-sizing: border-box; 
          margin: 0;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          border: 25px solid transparent;
          border-image: url(../img/dozen_store/frame3.png) 20 20 repeat;
        
      }

      @media all and (max-width: 479px) {
        .storeFrame .content .pic .picFrame {
          width: 60%;
          left: 20%;
          
           
        } }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .storeFrame .content .pic {
          width: 100%;
          float: none; } }
      @media all and (max-width: 479px) {
        .storeFrame .content .pic {
          width: 100%;
          float: none; } }
      .storeFrame .content .pic img {
        width: 100%; }
        @media all and (min-width: 480px) and (max-width: 759px) {
          .storeFrame .content .pic img {
            width: 60%; } }
        @media all and (max-width: 479px) {
          .storeFrame .content .pic img {
            width: 60%; } }


    .storeFrame .content .intro {
      
      width: 60%;
      float: left;
      box-sizing: border-box;
      padding: 20px;
    
    }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .storeFrame .content .intro {
          width: 100%;
          float: none; } }
      @media all and (max-width: 479px) {
        .storeFrame .content .intro {
          width: 100%;
          float: none; } }
      .storeFrame .content .intro h2 {
        font-family: "王漢宗粗明體繁-中";
        text-align: center;
        font-weight: bold;
        color: #533e2f;
        letter-spacing: 2px;
        font-size: 35px; }

      .storeFrame .content .intro #karma_dec {
          font-family: "王漢宗中明體繁- 細";
          font-size: 14px;
          letter-spacing: 5px;
          color: #c53522;
          margin-top: 10px;

      }

      .storeFrame .content .intro p {
        color: #533e2f;
        margin-top: 10px;
        text-align: justify;
        line-height: 30px;
        letter-spacing: 2px;
       }
      .storeFrame .content .intro .options {
        margin-top: 20px;
        box-sizing: border-box;
        padding: 10px;
        font-size: 0; }
        .storeFrame .content .intro .options:after {
          content: '';
          display: block;
          clear: both; }
        .storeFrame .content .intro .options .price {
          float: left;
          width: 30%; }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .storeFrame .content .intro .options .price {
              display: inline-block;
              vertical-align: middle;
              float: none; } }
          @media all and (max-width: 479px) {
            .storeFrame .content .intro .options .price {
              display: inline-block;
              vertical-align: middle;
              float: none; } }
          .storeFrame .content .intro .options .price p {
            margin-top: 0;
            font-size: 25px;
            font-weight: bold; }
            @media all and (min-width: 480px) and (max-width: 759px) {
              .storeFrame .content .intro .options .price p {
                font-size: 20px; } }
            @media all and (max-width: 479px) {
              .storeFrame .content .intro .options .price p {
                font-size: 20px; } }
        .storeFrame .content .intro .options .purchase {
          float: left;
          text-align: right;
          width: 70%; }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .storeFrame .content .intro .options .purchase {
              display: inline-block;
              vertical-align: middle;
              float: none; } }
          @media all and (max-width: 479px) {
            .storeFrame .content .intro .options .purchase {
              display: inline-block;
              vertical-align: middle;
              float: none; } }
          .storeFrame .content .intro .options .purchase .name .buyNow {
            color: #fff;
            letter-spacing: 4px;
            cursor: pointer;
            margin-right: 5%;
            display: inline-block;
            text-decoration: none;
            text-align: center;
            width: 120px;
            height: 33px;
            line-height: 33px;
            font-weight: 400;
            letter-spacing: 2px;
            background-image: url(../img/dozen_store/btn.png);
            background-size: contain;
           }
            
           .storeFrame .content .intro .options .purchase .name .buyNow .btnText{
                         cursor: url(../img/share/cursor.png)20 15,
                         auto;

             font-size: 12px;
             line-height: 35.5px;
           }
           .storeFrame .content .intro .options .purchase .name .buyNow .btnText:hover {
             cursor: url(../img/share/cursor.png)20 15, auto;
           }

           .storeFrame .content .intro .options .purchase .name .buyNow, .btnText:active {
             cursor: url(../img/share/cursor2.png)20 15, auto;
           }
            @media all and (min-width: 480px) and (max-width: 759px) {
              .storeFrame .content .intro .options .purchase a {
                font-size: 16px;
                width: 100px; } }
            @media all and (max-width: 479px) {
              .storeFrame .content .intro .options .purchase a {
                font-size: 12px;
                line-height: 33px;
                width: 120px; } }
            .storeFrame .content .intro .options .purchase a + a {
              margin-left: 10px; }
              @media all and (min-width: 480px) and (max-width: 759px) {
                .storeFrame .content .intro .options .purchase a + a {
                  margin-top: 10px;
                  font-size: 12px;
                  width: 100px; } }
              @media all and (max-width: 479px) {
                .storeFrame .content .intro .options .purchase a + a {
                  margin-left: 0;
                  margin-top: 10px;
                  font-size: 12px;
                  width: 120px; } }

#person {
  color: red; }
