@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@font-face {
  font-family: "王漢宗中明體繁- 細";
  src: url("../font/王漢宗中明體繁- 細.ttf"); }

@font-face {
  font-family: "王漢宗粗明體繁-中";
  src: url("../font/王漢宗粗明體繁-中.ttf"); }

@font-face {
  font-family: "王漢宗特明體 – 標準";
  src: url("../font/王漢宗特明體 – 標準.ttf"); }

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/dozen_storedetail/background_ground.png); }

#menuControl {
  position: fixed;
  left: -100px; }

#menuControl:checked ~ .menu {
  /*left: 0;*/
  visibility: visible;
  opacity: 1; }

.menu {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/hamburger/bright-galaxy-space-plain.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s; }
  @media all and (max-width: 479px) {
    .menu {
      background-image: url(../img/hamburger/bright-galaxy-space-plain.jpg);
      background-position: center center;
      background-size: cover;
      padding-top: 10%; } }

.header .logo {
  width: 100px;
  position: fixed;
  left: calc(50% - 50px);
  top: 3%; }

.cart {
  color: white;
  font-family: "王漢宗中明體繁- 細";
  display: inline-block;
  position: fixed;
  top: 10%;
  right: 5%; }
  @media all and (max-width: 479px) {
    .cart {
      display: none; } }

.frame {
  margin: 0 auto;
  margin-top: 13%;
  max-width: 960px;
  border: 50px solid transparent;
  border-image: url(../img/frame_960x960.png) 90 90 repeat;
  box-sizing: border-box; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px; }
  @media all and (max-width: 479px) {
    .header .logo {
      width: 100px; } }
  .header p {
    color: #fff; }
    .header p a {
      text-decoration: none;
      color: red; }

#person {
  color: red; }

@media all and (max-width: 479px) {
  .frame {
    margin-top: 40%; } }

.frame .banner {
  width: 100%;
  height: 400px;
  background-color: #60859e;
  margin: 0 auto; }

.frame .dot {
  width: 100%;
  height: 70px;
  background-color: #c4b46f;
  margin: 0 auto; }

.frame h1 {
  text-align: center;
  color: white;
  font-family: "王漢宗中明體繁- 細";
  font-size: 28px;
  letter-spacing: 5px; }

.frame .product {
  width: 100%; }
  .frame .product .pdList {
    width: 92%;
    background-color: #222;
    height: 200px;
    padding-left: 20%;
    box-sizing: border-box;
    margin: 0 auto; }
    .frame .product .pdList a {
      font-family: "王漢宗粗明體繁-中";
      color: #fff;
      font-size: 28px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      line-height: 200px;
      padding-right: 12%; }
  .frame .product .filter {
    width: 92%;
    height: 50px;
    margin: 0 auto;
    padding-top: 2%;
    box-sizing: border-box; }
    .frame .product .filter form {
      float: left; }
    .frame .product .filter input {
      float: right;
      border: 2px solid purple;
      border-radius: 4px;
      width: 200px;
      height: 20px; }
  .frame .product .productContent .one {
    background-image: url(../img/dozen_storedetail/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    text-align: center;
    float: left; }
    @media all and (max-width: 479px) {
      .frame .product .productContent .one {
        width: 100%;
        margin: 0 auto; } }
    .frame .product .productContent .one img {
      margin-top: 15%;
      width: 70%;
      text-align: center; }
    .frame .product .productContent .one h2 {
      padding: 0;
      color: #fff;
      font-family: "王漢宗中明體繁- 細";
      font-size: 20px; }
  .frame .product .productContent .text {
    font-family: "王漢宗粗明體繁-中";
    color: #fff;
    float: left;
    width: 40%;
    height: 500px;
    margin-top: 5%;
    margin-left: 5%; }
    @media all and (max-width: 479px) {
      .frame .product .productContent .text {
        width: 90%; } }
    .frame .product .productContent .text h2 {
      letter-spacing: 5px;
      text-align: center;
      display: inline;
      font-size: 20px; }
    .frame .product .productContent .text .rate {
      display: inline;
      margin-left: 10px;
      color: yellow;
      font-size: 18px;
      font-family: 'Special Elite', cursive;
      letter-spacing: 4px; }
    .frame .product .productContent .text p {
      width: 100%;
      margin: 20px 0;
      line-height: 25px; }
    .frame .product .productContent .text #price {
      color: red;
      font-size: 35px;
      font-family: 'Special Elite', cursive; }
    .frame .product .productContent .text i {
      color: yellow;
      font-size: 20px;
      margin: 10px 0; }
    .frame .product .productContent .text .qtyminus, .frame .product .productContent .text .qtyplus {
      width: 30px;
      height: 30px;
      border: 0;
      color: white;
      background-color: transparent;
      background-image: url(../img/dozen_storedetail/btn1.png);
      background-size: cover;
      background-position: center center; }
      .frame .product .productContent .text .qtyminus:hover, .frame .product .productContent .text .qtyplus:hover {
        cursor: url(../img/dozen_storedetail/cursor.png) 20 15, auto; }
      .frame .product .productContent .text .qtyminus:focus, .frame .product .productContent .text .qtyplus:focus {
        outline: none; }
      .frame .product .productContent .text .qtyminus:active, .frame .product .productContent .text .qtyplus:active {
        box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.5);
        cursor: url(../img/dozen_storedetail/cursor2.png) 20 15, auto; }
    .frame .product .productContent .text .qty {
      width: 50px; }
    .frame .product .productContent .text .buy {
      float: right;
      margin-top: -10%; }
      .frame .product .productContent .text .buy a {
        text-decoration: none;
        display: block;
        background-color: #fff;
        text-align: center;
        width: 100px;
        height: 30px;
        line-height: 30px; }
  .frame .product .productContent:after {
    content: '';
    display: block;
    clear: both; }

.footer {
  width: 100%;
  height: 200px;
  border: 100px solid;
  border-image: url(../img/dozen_storedetail/footer_frame.png) 90 90 repeat;
  box-sizing: border-box;
  text-align: center;
  margin-top: 5%; }
  .footer h4 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin: 0;
    padding: 0;
    color: #9b9b9b; }
