@charset "UTF-8";
@font-face {
  font-family: "王漢宗粗明體繁-中";
  src: url(../font/王漢宗粗明體繁-中.ttf); }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #000; }

.menu {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/share/nav_bg.jpg);
  background-size: cover;
  background-position: center center;
  position: fixed;
  /*left: -100%;*/
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  content: '';
  display: block;
  clear: both; }
  .menu .left {
    width: 40%;
    height: 400px;
    float: left;
    margin-left: 10%;
    color: #fff;
    text-align: center;
    padding-top: 10%; }
    @media all and (max-width: 479px) {
      .menu .left {
        float: none;
        width: 100%;
        margin-left: 0;
        height: 100px; } }
    .menu .left p {
      color: white;
      font-size: 30px;
      letter-spacing: 5px; }
      @media all and (max-width: 479px) {
        .menu .left p {
          font-size: 15px; } }
    .menu .left .countdownContainer {
      margin: 0 auto;
      margin-top: 10%;
      font-size: 25px;
      letter-spacing: 5px; }
      @media all and (max-width: 479px) {
        .menu .left .countdownContainer {
          font-size: 20px;
          margin-top: 5%; } }
  .menu .line {
    width: 1px;
    height: 400px;
    background-color: #fff;
    float: left; }
    @media all and (max-width: 479px) {
      .menu .line {
        float: none;
        display: none; } }
  .menu .right {
    width: 40%;
    height: 500px;
    float: left; }
    .menu .right .title {
      margin-left: 30%; }
    @media all and (max-width: 479px) {
      .menu .right {
        float: none;
        width: 100%;
        margin-top: -5%; } }
  .menu .title {
    transition: 1s all;
    width: 10%;
    filter: drop-shadow(0 12px 20px 0 rgba(0, 0, 0, 0.2));
    animation-duration: 2s;
    animation-delay: .5s; }
  .menu .title:hover {
    filter: drop-shadow(0 3px 5px 0 rgba(0, 0, 0, 0.2));
    transform: translateY(5px); }

#menuControl {
  position: fixed;
  left: -100px; }

#menuControl:checked ~ .menu {
  /*left: 0;*/
  visibility: visible;
  opacity: 1; }

.menu .title {
  color: white;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 10%;
  letter-spacing: 5px;
  text-align: center;
  font-family: "王漢宗粗明體繁-中"; }

.menu .store {
  height: 50px;
  width: 150px;
  display: block;
  background-image: url(../img/share/store.png);
  background-size: cover;
  margin: 0 auto;
  transition: 0.5s all ease-in-out; }

.menu .store:hover {
  height: 50px;
  width: 150px;
  display: block;
  background-image: url(../img/share/storeLight.png);
  background-size: cover; }

.menu .findTeacher {
  height: 50px;
  width: 150px;
  display: block;
  background-image: url(../img/share/findTeacher.png);
  background-size: cover;
  margin: 0 auto;
  transition: 0.5s all ease-in-out; }

.menu .findTeacher:hover {
  height: 50px;
  width: 150px;
  display: block;
  background-image: url(../img/share/findTeacherLight.png);
  background-size: cover; }

.menu .member {
  height: 50px;
  width: 150px;
  display: block;
  background-image: url(../img/share/member.png);
  background-size: cover;
  margin: 0 auto;
  transition: 0.5s all ease-in-out; }

.menu .member:hover {
  height: 50px;
  width: 150px;
  display: block;
  background-image: url(../img/share/memberLight.png);
  background-size: cover; }

.menu a {
  display: block;
  margin: 0 auto; }

.menu .logo {
  display: block;
  width: 8%;
  min-width: 100px;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 3%; }
  @media all and (max-width: 479px) {
    .menu .logo {
      margin-top: 15%; } }

.menu img {
  margin: 0 auto; }

.hamburger {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
  z-index: 20; }
  @media all and (max-width: 479px) {
        .hamburger {
          top: 20px;
          left: 20px;
          width: 60px;
          height: 60px;
           } 
         }

.hamburger div {
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #000;
  width: 100px;
  display: block;
  position: absolute;
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  background-image: url(../img/share/hb.png);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: transparent;
    }

@media all and (max-width: 479px) {
        .hamburger div {
          height: 12px;
          border: 2.4px solid #000;
          width: 60px;
           } 
         }

.hamburger:hover {
  transition-delay: 100ms;
  transform: scale(1.1); }

.hamburger div:nth-child(1) {
  top: 0px; }

.hamburger div:nth-child(2) {
  top: 40px; }

.hamburger div:nth-child(3) {
  top: 80px; }

  @media all and (max-width: 479px) {
      .hamburger div:nth-child(1) {
          top: 0px; }

      .hamburger div:nth-child(2) {
          top: 24px; }

      .hamburger div:nth-child(3) {
          top: 48px; }
         }


#menuControl:checked:hover + .hamburger div:nth-child(3):before,
#menuControl:checked + .hamburger div:nth-child(3):before,
#menuControl:checked + .hamburger div:nth-child(2) {
  opacity: 0;
  transition: all 200ms; }


#menuControl:checked + .hamburger div:nth-child(2) {
  width: 0px; }

#menuControl:checked + .hamburger div:nth-child(3) {
  transform: translate(0px, -40px) rotate(45deg) ;
   }

#menuControl:checked + .hamburger div:nth-child(1) {
  transform: translate(0px, 40px) rotate(-45deg) ;
   }

  @media all and (max-width: 479px) {
      #menuControl:checked + .hamburger div:nth-child(2) {
          width: 0px; }

      #menuControl:checked + .hamburger div:nth-child(3) {
          transform: translate(0px, -24px) rotate(45deg) ;
           }

      #menuControl:checked + .hamburger div:nth-child(1) {
          transform: translate(0px, 24px) rotate(-45deg) ;
           }
         }
