@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@font-face {
  font-family: "王漢宗中明體繁- 細";
  src: url("../font/王漢宗中明體繁- 細.ttf"); }

@font-face {
  font-family: "王漢宗粗明體繁-中";
  src: url("../font/王漢宗粗明體繁-中.ttf"); }

@font-face {
  font-family: "王漢宗特明體 – 標準";
  src: url("../font/王漢宗特明體 – 標準.ttf"); }

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/dozen_storedetail/bg.jpg); }

@media all and (max-width: 479px) {
  background-image: url(../img/hamburger/bright-galaxy-space-plain.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 10%; }

.header .logo {
  width: 100px;
  position: fixed;
  left: calc(50% - 50px);
  top: 3%; }

.cart {
  color: white;
  font-family: "王漢宗中明體繁- 細";
  display: inline-block;
  position: fixed;
  top: 10%;
  right: 5%; }
  @media all and (max-width: 479px) {
    .cart {
      display: none; } }

.cartFrame {
  margin: 0 auto;
  margin-top: 13%;
  max-width: 960px;
  border: 50px solid transparent;
  border-image: url(../img/frame_960x960.png) 90 90 repeat;
  box-sizing: border-box;
  background-image: url(../img/dozen_storeCart/reel2.png);
  background-size: cover;
  background-position: center center; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px; }
  @media all and (max-width: 479px) {
    .header .logo {
      width: 100px; } }
  .header p {
    color: #fff; }
    .header p a {
      text-decoration: none;
      color: red; }

#person {
  color: red; }

.cartFrame {
  padding: 0 2%;
  min-height: 500px; }
  .cartFrame:after {
    content: '';
    display: block;
    clear: both; }
  .cartFrame .title {
    font-size: 0;
    margin-top: 2%;
    background-color: #564826;
   }
    .cartFrame .title:after {
      content: '';
      display: block;
      clear: both; }
    .cartFrame .title h2:first-of-type {
      margin-left: 17%;
    }
    .cartFrame .title h2 {
      display: inline-block;
      margin-left: 2%;
      width: 15%;
      font-size: 14px;
      color: #fff;
      font-weight: 200;
      text-align: center;
      letter-spacing: 2px; }
      @media all and (max-width: 479px) {
        .cartFrame .title h2 {
          font-size: 1px;
          margin-left: 7%; } }
  .cartFrame .cartList {
    padding-top: 5%;
    box-sizing: border-box; }

    .cartFrame .cartList:after {
      content: '';
      display: block;
      clear: both; }

    .cartFrame .cartList section table .item{
      font-size: 0;
    }
    .cartFrame .cartList section table .item td{
      text-align: center;
      font-size: 16px;
      width: 15%;
    }
    .cartFrame .cartList section table .item td+td{
      padding-left: 2%;
    } 
    .cartFrame .cartList section table .item td .adc{
      width: 100%;
    }
  .cartFrame hr {
    background-color: #000;
    margin-top: 2%;
    height: 1px;
    border: none; }
  .cartFrame .all {
    float: right;
    margin: 2% 0;
    letter-spacing: 3px; }
    @media all and (max-width: 479px) {
      .cartFrame .all {
        font-size: 10px; } }
    .cartFrame .all span {
      color: #BA3232;
      font-size: 20px; }
  .cartFrame .know {
    clear: both;
    text-align: center;
    margin: 20px auto;
    letter-spacing: 10px;
    color: #533e2f; }
  .cartFrame .contract {
    width: 80%;
    padding: 30px;
    height: 300px;
    background-color: #eee;
    clear: both;
    margin: 0 auto;
    overflow: scroll;
    border: 5px solid #533e2f; }
    .cartFrame .contract td {
      vertical-align: top;
      line-height: 30px; }
  .cartFrame .agree {
    text-align: center;
    margin-top: 10px; }
    .cartFrame .agree input {
      border-radius: 1px;
      display: inline; }
    .cartFrame .agree p {
      margin-left: 10px;
      display: inline; }

    .cartFrame .btnM{
        margin: 50px auto;
        display: block;
      
    }
    .cartFrame .btnM:hover{
      cursor: url(../img/share/cursor.png)20 15,auto;
      
    }

    .cartFrame .btnM:active{
      cursor: url(../img/share/cursor2.png)20 15,auto;
    }
