*{
	margin: 0;
	padding: 0;
}

/*copyright*/
.copyright{
	text-align: center;	
	width: 95%;
	height: 70px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px #fff solid;
}

.copyright p{
	font-size: 14px;
	color: #ddd;
	letter-spacing: 1px;	
	margin: 25px 0 25px 0;
}
