@font-face {
	font-family: "王漢宗特明體 – 標準";
	src: url("../font/王漢宗特明體 – 標準.ttf"); }

	@font-face {
		font-family: "王漢宗中明體繁- 細";
		src: url("../font/王漢宗中明體繁- 細.ttf"); }

* {
	padding: 0;
	margin: 0;
	font-family: 'Arial',"微軟正黑體"; 
	box-sizing: border-box;
}

body{
	background-image: url(../img/guide/bg.jpg);
	/*background-position: center center;*/
	background-repeat: no-repeat;
	background-size: cover;
	/*position: fixed;*/
	/*z-index: -10;*/
}

.background {
  background-image: url(../img/share/bg.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  z-index: -5;
  top: 0;
  left: 0; }
  .background .flash {
    position: absolute;
    width: 700px;
    opacity: 0; }
  .background .lt1 {
    left: -150px;
    top: 30px;
    animation: flashing1 10s;
    animation-iteration-count: 2; }
  .background .lt2 {
    left: 0px;
    top: 70px;
    animation: flashing2 10s;
    animation-iteration-count: 2; }
  .background .lt3 {
    right: 90px;
    top: 50px;
    animation: flashing3 10s;
    animation-iteration-count: 2; }
  .background .lt4 {
    right: 130px;
    top: 0px;
    animation: flashing4 10s;
    animation-iteration-count: 2; }

@keyframes flashing1 {
  24% {
    opacity: 0; }
  25% {
    opacity: 1; }
  35% {
    opacity: 0; }
  70% {
    opacity: 0; }
  71% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes flashing2 {
  5% {
    opacity: 0; }
  6% {
    opacity: 1; }
  20% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  60% {
    opacity: 0; }
  89% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes flashing3 {
  34% {
    opacity: 0; }
  35% {
    opacity: 1; }
  60% {
    opacity: 0; }
  61% {
    opacity: 1; }
  70% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes flashing4 {
  18% {
    opacity: 0; }
  19% {
    opacity: 1; }
  25% {
    opacity: 0; }
  38% {
    opacity: 0; }
  39% {
    opacity: 1; }
  50% {
    opacity: 0; }
  84% {
    opacity: 0; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.logo img{
	display: block;
	width: 150px;
	margin: 70px auto 0 auto;
}

.title img{
	width: 500px;
	display: block;
	margin: 50px auto 0 auto;
}

.btn{
	margin: 50px auto 0 auto;
	text-align: center;
}

.btnText{
	display: inline-block;
	color:rgb(240, 225, 200);
	text-decoration: none;
	font-family: "王漢宗中明體繁- 細";
	margin: 0;padding: 0;
	border: none;
	background: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
	box-sizing: border-box;
	transition:.2s all ;
}
.btnText:hover{
	/* color: rgb(223, 211, 174); */
	filter:drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.1));
}
.btnL{
	display: inline-block;
	width: 200px;
	height: 50px;
	background: url(../img/btn/01.png) center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-weight: bold;
	margin: 0 50px;
}
.btnL .btnText{
	font-size: 20px;
	line-height: 50px;
}
.btnL .btnText2{
	padding-left: 20px;
	letter-spacing: 20px;
}

.btnText2:hover{
	cursor: url(../img/share/cursor.png) 12 5, auto;
}

.btnText2:active{
	cursor: url(../img/share/cursor2.png) 12 5, auto;
}

@media all and (min-width: 551px) and (max-width: 1000px){
	.btn{
		margin: 50px auto 0 auto;
		text-align: center;
	}

	.btnL{
		margin: 0 20px;
	}
}

@media all and (max-width: 550px){
	.title img{
		width: 300px;
		left: calc(50% - 150px);
	}

	.btnL{
		margin: 10px 20px;
	}
}
.boxContent .loginClose {
  right: 30px;
}


.boxContent .form {
  position: absolute;
  top: 105px;
  width: 100%;
  text-align: center;
}

.boxContent .form p {
  font-family: '王漢宗粗明體繁-中';
  margin: 10px 0;
  text-align: center;
}

.boxContent .form p:first-of-type {
  color: rgb(215, 189, 165);
  letter-spacing: 6px;
  font-size: 1.5em;
  margin-left: 16px;
  font-weight: bold;
}

.boxContent .form p:first-of-type {
  margin: 11px 0 19px;
}

.boxContent .login.Form p:nth-of-type(3) {
  margin-top: 28px;
}

.boxContent .form p:last-of-type {
  margin: 67px 0 0;
}

.boxContent .form p span {
  display: inline-block;
  color: rgb(100, 84, 72);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  vertical-align: middle;
}

.boxContent .form p span input {
  display: inline-block;
  height: 28px;
  width: 140px;
  padding: 0 14px;
  box-sizing: border-box;
  border: none;
  background: url("../img/share/input.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 15px;
}

.boxContent .form p span input:focus {
  outline: none;
}

.boxContent .form p .loginBtn {
  font-family: '王漢宗特明體 – 標準';
  letter-spacing: 2px;
  width: 125px;
  height: 68px;
  line-height: 68px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  background-color: transparent;
  background-image: url(../img/findTeacher/hint_btn.png);
  background-position: center center;
  background-size: 100% 100%;
  border: 0px;
  transition: filter 0.2s;
  color: #210;
  letter-spacing: 8px;
  padding-left: 8px;
  box-sizing: border-box;
}

.boxContent .form p .loginBtn:focus {
  outline: none;
}

.boxContent .form p .loginBtn:hover {
  filter: drop-shadow(0px 0px 3px #fc9) drop-shadow(0px 0px 5px #fec16a);
  color: rgb(236, 215, 174);
}

.login.Form {
  display: block;
}

