* {
	padding: 0;
	margin: 0;
	font-family: 'Arial',"微軟正黑體"; 
	box-sizing: border-box;
}

.bg{
	width: 100vw;
	height: 100vh;
	background-image: url(img/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
}

.logo img{
	display: block;
	width: 150px;
	position: absolute;
	left: calc(50% - 75px);
	top: 70px;	
}

.title img{
	width: 400px;
	display: block;
	position: absolute;
	left: calc(50% - 200px);
	top: 300px;
}

.btnM{
	width: 100px;
	height: 30px;
}

.btnText2{
	line-height: 30px;
}

@media all and (max-width: 479px){
	.title img{
		width: 300px;
		left: calc(50% - 150px);
	}
}





