*{
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	height: 150px;
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	transition: all .5s ease-in-out;
}

/*中間logo*/
.header .logo a{
	display: block;
	width: 90px;
	position: absolute;
	left: calc(50% - 45px);
	top: 10px;
}
.header .logo img{
	width: 100%;
}

/*右邊會員專區*/

.header .memArea{
	position: absolute;
	right: 0;
	top: 0;
}
.header .memArea ul{
	float: right;
}

.header .memArea:after{
	content: "";
	display: block;
	clear: both;
}

.header .memArea ul li{
	display: inline-block;
	padding: 20px 37px 0 0;
}

.header .memArea a{
	text-decoration: none;
	color: #ddd;
	letter-spacing: 1px;
}

.header .memArea a:hover{
	color: #0ee7d5;
	transition: .2s;
}

/*右邊水逆倒數*/
.header .countdown{
	position: absolute;
	width: 250px;
	margin: 20px 0 0 0;
	right: 20px;
	top: 50px;
}

.header .countdown .countdownContainer{
	border:1px solid #ddd;
	color: #ddd;
	padding: 5px;
}






/*RWD開始*/
/*右邊會員專區消失*/
@media screen and (max-width: 760px){
	.header .memArea ul li{
		display: none;
	}
}



