*{
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	height: 150px;
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#000), to(transparent)); 
}

/*中間logo*/
.header .logo a{
	display: block;
	width: 90px;
	position: absolute;
	left: calc(50% - 45px);
	top: 10px;
}
.header .logo img{
	width: 100%;
}

/*右邊會員專區*/

.header .memArea{
	position: absolute;
	right: 0;
	top: 0;
}
.header .memArea ul{
	float: right;
}

.header .memArea:after{
	content: "";
	display: block;
	clear: both;
}

.header .memArea ul li{
	display: inline-block;
	padding: 20px 37px 0 0;
}

.header .memArea a{
	text-decoration: none;
	color: #ddd;
	letter-spacing: 1px;
}

.header .memArea a:hover{
	color: #f5da95;
	transition: .2s;
}

/*右邊水逆倒數*/
.header .countdown{
	position: absolute;
	width: 250px;
	margin: 10px 0 0 0;
	right: 20px;
	top: 50px;
}

.header .countdown .countdownContainer{
	border:1px solid #ddd;
	color: #ddd;
	padding: 5px;
}

.header .countdownAlert{
	position: absolute;
	width: 236px;
	height: 37px;
	margin: 20px 0 0 0;
	right: 12px;
	top: -20px;
	border: 1px solid #f00; 
	box-shadow: 0 0 15px #ff0d0d;
	z-index: -1;
	animation: countdownAlert 30s;
	animation-iteration-count: 30;
}

@keyframes countdownAlert {
	0% {
	  opacity: 0; }
	10% {
	  opacity: 0; }
	20% {
	  opacity: 0; }
	30% {
	  opacity: 0; }
	40% {
	  opacity: 0; }
	50% {
	  opacity: 1; }
	60% {
	  opacity: 0; }
	70% {
	  opacity: 0; }
	80% {
	  opacity: 0; }
	90% {
	  opacity: 0; }
	100% {
	  opacity: 0; } 
}


/*RWD開始*/
@media screen and (max-width: 760px){
	/*右邊會員專區消失*/
	.header .memArea ul li{
		display: none;
	}

	/*右邊水逆倒數消失*/
	.header .countdown{
		display: none;
	}
}



