*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #333;
	font-size: 14px;
}

.header{
	width: 100vw;
	height: 150px;
	position: fixed;
	transition: all .5s ease-in-out;
}

/*中間logo*/
.header .logo img{
	width: 90px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

/*右邊會員專區*/
.header .memArea ul{
	float: right;
}

.header .memArea:after{
	content: "";
	display: block;
	clear: both;
}

.header .memArea ul li{
	display: inline-block;
	padding: 20px 37px 0 0;
}

.header .memArea a{
	text-decoration: none;
	color: #ddd;
	letter-spacing: 1px;
}

.header .memArea a:hover{
	color: #0ee7d5;
	transition: .2s;
}

.header .active{
	background: #333;
}

/*右邊水逆倒數*/
.countdown{
	width: 250px;
	margin: 20px 0 0 0;
	float: right;
}

.countdownContainer{
	border:1px solid #ddd;
	color: #ddd;
	padding: 5px;
}






/*RWD開始*/
/*右邊會員專區消失*/
@media screen and (max-width: 760px){
	.header .memArea ul li{
		display: none;
	}
}



