html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    color: #ffffff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font: 2em;
}

h2 {
    font: 1.5em;
}

h3 {
    font: 1.17em;
}

h4 {
    font: 1em;
}

h5 {
    font: 0.83em;
}

h6 {
    font: 0.75em;
}
@font-face {
    font-family: "王漢宗粗明體繁-中";
    src: url("../font/王漢宗特明體 – 標準.ttf");
}
*{
    color: rgba(255,255,255,0.9);
    font-family: "王漢宗粗明體繁-中";
    letter-spacing: 1px;
    line-height: 1.2em;
}
.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("../img/index/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.background .ground img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

@media all and (min-width: 960px) {
    .background {
        background-size: 100% auto;
    }
    #result{
        width: 960px;
    }
    #result .item{
        width: 48%;
    }
}
@media all and (min-width: 760px) and (max-width: 959px) {
    .background {
        background-size:auto 100% ;
    }
    #result{
        width: 85%;
    }
}
@media all and (min-width: 480px) and (max-width: 759px) {
    .background {
        background-size: auto 100%;
    }
    #result {
        width: 90%;
    }
    #result .item {
        width: 100%;
        text-align: center;
    } 
    #result .btn{
        margin: 0 auto;
    }

}
@media all and (max-width: 479px) {
    .background {
        background-size: auto 100%;
    }
    #result {
        width: 95%;
    }
    #result .item {
        width: 100%;
    }#result .item .left{
        width: 100%;
    }
}
.btn {
    line-height: 2em;
    width: 120px;
    height: 2em;
    padding: 0.5em 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.btn:hover {
    cursor: pointer;
}

.btn.out {
    background: url('../img/index/btn.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
 .hello{
    position: fixed;
    top: 10%;
    right: 5%;

}
#top{
    height: 100vh;
    text-align: center;
}
#top #logo{
    padding:5% 0;
    transition:0.3s all linear;
    transform: scale(1);
}
#top h2{
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
#top h2.disap {
    width: 0;
    opacity: 0;
}
#top #logo.smaller{
    transform: scale(0.3);
}
#top #logo img {
    margin: 0 auto;
    display: block;
    width: 60vh;
    height: auto;
}

#top #logo h2 {
    text-align: center;
}

#top #logo h2.disap {
    width: 0;
    opacity: 0;
}
#result{
    margin: 0 auto;
}
#result .get p{
    margin: 0.5em 0;
}
#result .title{
    margin: 0.5em auto;
}
#result .title div{
    margin:0.3em;
    display: inline-block;
}
#result .tell{
    display: inline-block;
    margin: 1em ;
}
#result .goal .birth{
    text-align: center;
    margin: 1em 0;
}
#result .get {
     border: 50px transparent solid;
     border-image: url('../img/index/frame_960x960.png') 90 90 repeat;
    background-color: rgba(0, 0, 0, 0.4);
    text-align:justify;
    text-justify: distribute;

}
#result .get h3{
    background:linear-gradient(to bottom,rgb(243, 138, 236) ,rgb(195, 52, 174) 50%,rgb(160,70,160) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
#result .fortune{
    position: relative;
}
#result .fortune span{
    filter:blur(3px);
    background-color: rgba(255,2555,255,0.4);
}
#result .fortune .btn.out{
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -60px;
    margin-top: -1em;

}
#result .item h3{
    margin: 0.5em 0;
    text-align: center;
}
#result .item {
    text-indent: 0em;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.item .left {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.item .right {
    width: 45%;
    min-width:200px;
    padding: 3%;
    display: inline-block;
    vertical-align: top;
}
.item p{
    text-indent: 0em;
}
.item img {
    width: 100%;
    min-width:200px;
    display: block;
}

.item .btn {
    margin-top: 2em;
}

.item h4 {
    margin: 1em 0;
}