*{
	margin: 0;
	padding: 0;
	font-family: "微軟正黑體";
}

@font-face {
	font-family: "王漢宗特明體 – 標準";
	src: url("../font/王漢宗特明體 – 標準.ttf"); }
.cursorHand:hover{
	cursor: url('../img/share/cursor.png') 12 5, auto;
}
.cursorHand:active{
	cursor: url('../img/share/cursor2.png') 12 5, auto;
}
.wrapper .background {
	width: 100vw;
	height: 100vh;
	background: url("../img/share/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
}

.indexPic{
	position: relative;
	height: 80vh;
}
.magicRune{
	position: absolute;
	left: 0;top: 150px;right: 0;
	margin: 0 auto;
	width: 550px;
	height: 550px;
}
.magicRune .runeImg{
	font-size: 0;
	position: absolute;
	left: 0;	top: 0;
	width: 100%;	height: 100%;
	background: url(../img/index/starfield.png);
	background-size: contain;
	background-repeat: no-repeat;
	animation: magicRune 72s infinite;
	filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.5));
}
@keyframes magicRune{
	to{
		transform: rotate(360deg);
	}
}
.indexImg{
	position: absolute;
}
.indexTitle{
	display: inline-block;
	width: 53.33%;	height: 23.67%;
	top: 13.33%;
	left: 0;right: 0;
	margin: 0 auto;
	filter:  drop-shadow( 0px 0px 2px rgba(255, 183, 76, 0.8)) drop-shadow( 0px 0px 2px rgba(255, 255, 255, 1)) drop-shadow( 0px 0px 2px rgba(255, 191, 99, .7)) drop-shadow( 0px 0px 2px rgba(255, 191, 99, .7)) drop-shadow( 0px 0px 1px rgba(255, 191, 99, .7)) ;
}
.indexSubtitle{
	display: inline-block;
	width: 141%;	height: 6.17%;
	top: 45.33%;
	left: -17.42%;
	filter: drop-shadow( 0px 0px 1px rgba(255, 183, 76, 0.8)) drop-shadow( 0px 0px 1px rgba(255, 255, 255, 1))drop-shadow( 0px 0px 1px rgba(255, 191, 99, .7)) drop-shadow( 0px 0px 1px rgba(255, 191, 99, .7)) ;
}
.indexImpulse{
	display: inline-block;
	width: 52.33%;	height: 6.83%;
	top: 58.67%;
	left: 0.83%;
}
.indexCorrect{
	display: inline-block;
	width: 43.17%;	height: 9.5%;
	top: 56%;
	left: 55%;
	filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, 0.6) )  drop-shadow( 0px 0px 2px rgb(255, 255, 255));
}
.indexSmallText{
	display: inline-block;
	width: 72.17%;	height: 9%;
	top: 69.17%;
	left: 55.33%;
}
.magicRune .chooseBtn{
	position: absolute;
	right: 0;left: 0;
	bottom: 6.67%;
	margin: 0 auto;
	text-align: center;
}
.indexPic .magicRune .chooseBtn .btnM{
	width: 25%;	height: 6.25%;
	background-size: cover;
}
.magicRune .chooseBtn span+span{
	margin-left: 16.67%;
}
@media all and (max-width: 479px) {
	.magicRune{
		top: 150px;
		width: 350px;	height: 350px;
	}
	.indexPic .magicRune .chooseBtn .btnM{
		width: 100px;
		height: 25px;
		background-size: contain;
	}
	.indexPic .magicRune .chooseBtn .btnM .btnText{
		font-size: 12px;
		line-height: 25px;
		padding-left: 8px;
		letter-spacing: 8px;
	}
	.magicRune .chooseBtn span+span{
		margin-left: 30px;
	}
	.indexSubtitle, .indexSmallText{
		display: none;
	}
}
.indexPic:after{
	display: block;
	color: #fff;
	position: static;
	font-size: 100px;
	background-color: red;
	width: 100%;
	height: 100px;
	clear: both;
}
.chooseBirthday{
	position: relative;
	box-sizing: border-box;
	width: 600px;
	background: url(../img/share/texture.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	margin-top: 250px;
	margin-bottom: 350px;
	text-align: center;
	padding: 50px;
	display: none;
}
.chooseBirthday .birthdayFrame{
	position: absolute;
	box-sizing: border-box;
	top: 0;left: 0;
	width: 100%;	height: 100%;
	border: 35px solid transparent;
	border-image: url(../img/share/frame_960x960.png) 70 70 repeat;
	filter: drop-shadow(0px 0px 5px black) drop-shadow(2px 2px 5px black);
}
.birthdayControl{
	position: fixed;
	left: -50px;
	opacity: 0;
}
.chooseBirthday p{
	font-size: 0;
	margin: 20px 0 40px 0;
}
.chooseBirthday .text{
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 6px;
	padding-left: 18px;
	margin-bottom: 0;
}
.chooseBirthday p span select{
	position: relative;
	margin-left: 10px;
	display: inline-block;
	height: 28px;
	box-sizing: border-box;
	font-size: 20px;
	background-color: #000;
	color: #fff;
	outline: 0;
}
.chooseBirthday p span:after{
	display: inline-block;
	font-size: 24px;
	margin: 0 6px;
}
.chooseBirthday p .year:after{
	content: '年';
}
.chooseBirthday p .month:after{
	content: '月';
}
.chooseBirthday p .date:after{
	content: '日';
}
.chooseBirthday p .btnM{
	position: relative;
}
@media all and (max-width: 479px) {
	.chooseBirthday{
		width: 90%;
		margin-bottom: 250px;
		padding: 30px;
	}
	.chooseBirthday .birthdayFrame{
		border: 25px solid transparent;
		border-image: url(../img/share/frame_960x960.png) 50 50 repeat;
	}
	.chooseBirthday p{
		font-size: 0;
		margin: 20px 0 40px 0;
	}
	.chooseBirthday .text{
		font-size: 26px;
		line-height: 34px;
		letter-spacing: 2px;
		padding-left: 6px;
	}
	.chooseBirthday p span select{
		margin-left: 0;
		height: 24px;
		font-size: 16px;
	}
	.chooseBirthday p span:after{
		font-size: 20px;
	}
}


/*result*/


.resultArea{
	width: 960px;
	margin: 0 auto;
}
.resultArea .star{
	width: 100%;
	filter: drop-shadow( 0px 0px 3px rgba(255, 255, 255, 0.9))
			drop-shadow( 0px 0px 5px rgba(255, 255, 255, 0.7))
			drop-shadow( 0px 0px 7px rgba(255, 255, 255, 0.5));
	margin-top: 300px;
	margin-bottom: 50px;
}
.result{
	box-sizing: border-box;
	position: relative;
	background: url(../img/share/texture.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	margin-bottom: 100px;
	padding: 70px;
	font-size: 0;
}
.result .resultFrame{
	position: absolute;
	top: 0;left: 0;
	width: 100%;	height: 100%;
	border: 50px solid transparent;
	border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
	filter: drop-shadow(0px 0px 5px black) drop-shadow(2px 2px 5px black);
    box-sizing: border-box;

}
.result .title{
	color:#210;
	text-shadow:0px 0px 5px rgb(249, 169, 49) ,0px 0px 7px rgba(247, 159, 30 ,0.5);
}
.result p{
	margin: 10px 0;
}
.result .resultTitle{
	margin: 60px 0;
	font-weight: bold;
}
.result .resultTitle .title{
	font-size: 40px;
	letter-spacing: 20px;
	margin-bottom: 30px;
	padding-left: 20px;
}
.result .resultTitle p{
	font-size: 24px;
	letter-spacing: 2px;
}
.result .subtitle{
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 4px;
	margin-top: 60px;
}
.result .subtitle+.subtitle{
	font-size: 32px;
	letter-spacing: 6px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.result .text{
	width: 80%;
	margin: 0 auto;
	text-indent:32px;
	text-align: justify;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 2px;
}
.result .blur{
	width: 80%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 60px;
}
.blur .blurImg{
	width: 100%;
}
.blur .payLogin{
	display: inline-block;
	position: absolute;
	left: 0;top: 0;right: 0;bottom: 0;
	margin:auto;
	width: 204px;
	height: 53px;
	background: url(../img/index/paylogin.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0;
}
.blur .payLogin:hover{
	background: url(../img/index/paylogin2.png);
}
.singleResult .subtitle,
.pairResult .subtitle{
	margin-bottom: 30px;
}
.result .item{
	width: 45%;
	display: inline-block;
	font-size: 0;
	margin-bottom: 60px;
	margin-left: 5%;
}
.result .item+.item{
	margin-left: 0;
	margin-right: 5%;
}
.result .item .itemLeft{
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	margin: 5%;
}
.result .item .itemRight{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 16px;
}
.result .item .itemRight p{
	text-align: left;
}
.result .item .itemRight .itemName{
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
}
.result .item .itemRight .btnS{
	position: relative;
}


@media all and (max-width: 479px) {
	.resultArea{
		width: 90%;
	}
	.result {
		padding: 30px;
	}
	.result .resultFrame{
		border: 25px solid transparent;
		border-image: url(../img/index/frame2.png) 45 45 repeat;
	}
	.result .resultTitle .title{
		font-size: 36px;
		letter-spacing: 18px;
		margin-bottom: 27px;
		padding-left: 18px;
	}
	.result .resultTitle p{
		font-size: 20px;
	}
	.result .subtitle{
		font-size: 24px;
		letter-spacing: 2px;
		margin-top: 40px;
	}
	.result .subtitle+.subtitle{
		font-size: 28px;
		letter-spacing: 4px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.blur .payLogin{
		width: 150px;
		height: 37.5px;
		background-size: contain;
	}
	.result .item{
		width: 90%;
		margin-bottom: 20px;
		margin-left: 5%;
	}
	.result .item+.item{
		margin-left: 5%;
		margin-right: 0;
	}
	.result .item .itemLeft{
		display: block;
		vertical-align: middle;
		width: 60%;
		margin: 10% 20%;
	}
	.result .item .itemRight{
		display: block;
		vertical-align: middle;
		width: 100%;
		font-size: 16px;
		margin-bottom: 40px;
	}
}
.result .titleImg{
	width: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
}
@media all and (max-width: 479px) {
	.result .titleImg{
		width: 90%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}