*{
    margin: 0;
    padding: 0;
    color: #dddddd;
}
.background {
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    background: url("../img/index/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}
.background .ground img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}
@media all and (min-width: 960px) {
    .background {
        background-size: 100% auto;
    }
}

@media all and (min-width: 760px) and (max-width: 959px) {
    .background {
        background-size : auto 100%;
    }
}

@media all and (min-width: 480px) and (max-width: 759px) {
    .background {
        background-size: auto 100%;
    }
}

@media all and (max-width: 479px) {
    .background {
        background-size: auto 100%;
    }
}
 
@font-face {
    font-family: "王漢宗中明體繁- 細";
    src: url("../font/王漢宗中明體繁- 細.ttf");
}
h1,h2,h3,h4,h5{
    font-family: "王漢宗中明體繁- 細";
}
p{
    font-family: "微軟正黑體";
}
#ball{
    position: fixed;
    right: 5%;
    top: 30%;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    line-height: 70px;
    z-index:20;
    background-image: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #000 100%);
}
#top{
    text-align: center;
    position: fixed;
    bottom: 5%;
    left: 1%;
    width: 50px;
    height: 50px;
    background: url('../img/index/scrolltotop.png');
    background-size: 100% 100%;
    z-index:20;
}
#top:hover{
    cursor:pointer;
}
#ball:hover{
    cursor: pointer;
    background-color: #aa0000;
}
/* header */

.logo {
    width: 100px;
    position: fixed;
    left: calc(50% - 50px);
    top: 3%;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    background-color: rgba(0,0,0,0.2);
}

.header p { 
    font-family: "王漢宗中明體繁- 細"; /*不知道為什麼裝不上去？*/
    display: inline-block;
    margin-right: 2%;
    margin-top: 5%;
    position: fixed;
    right: 2%;
}

.header p a {
    text-decoration: none;
    color: red;
}

/* 按鈕 */
.btn {
    line-height: 2em;
    width: 120px;
    height: 2em;
    padding: 0.5em 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.btn:hover {
    cursor: pointer;
}
.btn1 {
    background: url('../img/index/btn_love.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn2 {
    background: url('../img/index/btn_money.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn.out {
    background: url('../img/index/btn.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* 燈箱 */

/* .login{
    z-index:1000;
    position: absolute;
    left: 100px;
    top: 20px;
} */
.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: -95%;
    z-index: 100;
    opacity: 0.1;
    transition: opacity 1s 0s,right 0s 1s;
}
#box-control:checked~.wrapper {
    opacity: 1;
    right: 0;
    transition:opacity 1s;
}
#lightbox {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #000000;
}

.box-close {
    display: block;
}
#lightbox #logo {
    padding: 3% 0;
    width: 100px;
    margin: 0 auto;
}

#lightbox #logo img {
    transition: 1s all ease;
    transform: scale(1);
    display: block;
    width: 100%;
    height: auto;
}

#lightbox #logo img.smaller {
    transform: scale(0.7);
}

#lightbox table {
    width: 350px;
    height: auto;
    margin: 0 auto;
    font-size: 1em;
    color: #fff;
    border-bottom: 0.7em transparent solid;
}

#lightbox table tr {
    padding-bottom: 0.3em;
    border-bottom: 0.7em transparent solid;
}

#lightbox table tr th {
    width: 100px;
    text-align: left;
    border-bottom: 0.7em transparent solid;
}

#lightbox table tr td {
    width: 200px;
    text-align: right;
}

#lightbox table tr #inp {
    background: url("../img/index/input.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 0.7em transparent solid;
}

#lightbox table tr input {
    width: 100%;
    height: 2em;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
    font-size: 1em;
    color: #fff;
    text-align: center;
}

#lightbox table tr input:focus {
    outline: none;
}

#lightbox table tr input:hover {
    cursor: pointer;
}

#lightbox table tr #btn {
    width: 400px;
    text-align: center;
    border-bottom: 0.7em transparent solid;
}

#lightbox table tr #btn .btn {
    width: 120px;
    height: 2em;
    line-height: 2em;
    padding: 0.3em 0;
    background: url("../img/index/btn.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    font-family: "王漢宗粗明體繁-中";
}

#lightbox table tr #btn .btn p {
    margin: 0.5em auto;
}

#lightbox table tr #btn .btn p:hover {
    cursor: pointer;
}

#lightbox #login {
    transition: 1s all ease;
    height: auto;
    display: '';
}

#lightbox #login.click {
    height: 0;
    display: none;
}

#lightbox #add {
    transition: 1s all ease 2s;
    height: 0;
    line-height: 2em;
    display: none;
}

#lightbox #add.click {
    height: auto;
    display: '';
}







/* 選擇算命方式與banner */

.container{
    width: 960px;
    margin: 0 auto;
}
@media all and (min-width: 760px) and (max-width: 959px) {
    .container {
        width: 90%;
    }
}
@media all and (min-width: 480px) and (max-width: 759px) {
    .container{
        width: 90%;
    }
}
@media all and (max-width: 479px) {
    .container{
        width: 90%;;
    }
}
#choose{
    text-align: center;
    height: 80vh;
    position: relative;
    padding-top: 25vh;
}
#choose p{
    display: block;
    font-size: 4em;
    margin:15vh 0.5em 5vh;
}
@media all and (min-width: 760px) and (max-width: 959px){
    #choose p{
        font-size: 3em;
    }
    #choose h2{
        font-size: 1.5em;
    }
}
@media all and (min-width: 480px) and (max-width: 759px) {
    #choose p {
        font-size: 2.5em;
    }
    #choose h2 {
        font-size: 1.5em;
    }
}
@media all and (max-width: 479px) {
    #choose p {
        font-size: 2.5em;
    }
    #choose h2 {
        font-size: 1.5em;
    }
}
#choose #btn .btn{
    margin:5vh 2em 0;
    width: 150px;
}
#choose .radio{
    position: absolute;
    top: 0;
    left: -100%;
}
/* 輸入生日 */
#start{
    position: relative;
    width: 100%;
}
#start .push{
    padding: 30vh 0;
}
#start #test {
    display: block;
    margin: 0 auto 20%;
    clear: both;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    line-height: 2em;
    font: 1em;
    text-align: center;
    transition: 1s all ease;
}

#start #double {
    display: none;
}

#start #test select {
    font-size: 1em;
    width: 120px;
    height: 2em;
    cursor: pointer;
    color: #000000;
}

#start #test .radio {
    position: absolute;
    left: -1000px;
}

#start #test h5 {
    line-height: 2em;
}

#start #test .btn1 {
    background: url('../img/index/btn_love.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#start #test .btn2 {
    background: url('../img/index/btn_money.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#start #test .btn3 {
    background: url('../img/index/btn_health.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#start #test .btn4 {
    background: url('../img/index/btn_work.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#start #test input {
    line-height: 2em;
    ;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0px;
    color: #fff;
}

#start input:focus {
    outline: none;
}

#start input:hover {
    cursor: pointer;
}

#start h1 {
    margin: 2em 0 1em;
}

#result{
    width: 100%;
    padding-top:150px; /* 看header到時候設計的高*/
    display:none;
}
#result #star{
    width: 100%;
    height: 80vh; 
    background-color: rgba(0,0,100,0.5);
    text-align: center;
}
#result .result{
    margin-top: 150px;
    background-color: rgba(0,0,0,0.7);
    text-align: justify;
    text-justify: distribute;
}
#result .love {
    width: 100%;
    text-align: center;
}
#result .love .item{
    width: 35%;
    padding-top: 8%;
     display: inline-block;
     vertical-align:middle;
     text-align: left;
}
#result .love .item:first-of-type{
    text-align: right;
}
#result .love .pairing{
    width: 20%;
    padding: 4% 1% 9%;
    display: inline-block;
    vertical-align: top;
    background:url('../img/index/love.png');
    background-size:100% auto;
    background-repeat: no-repeat;
    text-align: center;
    font-weight:700;
    font-size: 10%;
    font-size: 3em;
}
#result .result .love h3{
    text-align: center;
}
#result .result h1{
    text-align: center;
    line-height: 3em;
}
#result .result .chart{
    padding: 1em;
    margin-top: 5%;
    border:1px #ddd double;
}
#result .result .chart .topic{
    margin: 2em 0;
    line-height: 6em;
    background:linear-gradient(to top,rgba(0,0,100,1) 0%,rgba(0,100,200,1) 100%);
    text-align: center;
}
#result .result .chart .content.blur{
    width: 100%;
    height: 20em;
    background-color: rgba(255,255,255,0.7);
    filter:blur(3px);
}
#result  .other h2{
    display: block;
    margin: 2em 0;
    line-height: 4em;
    background:linear-gradient(to top, rgba(100, 0, 0, 1) 0%, rgba(200, 100, 0, 1) 100%);
    text-align: center;
}
#result  .other .item{
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
   
}
#result .other .item img{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-top: 10%;
}
#result .other .item .right{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 3%;
}
#result .other .item h2{
    margin: 0;
    line-height: 2em;
  background:linear-gradient(to bottom, rgb(243, 233, 138), rgb(168, 127, 14) 50%, rgb(83, 63, 6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#result .other .right h3{
    padding-top: 2em;
    line-height: 3em;
}
#result .other .right p{
    margin-top: 1em;
}
@media all and (min-width: 960px){
    #result .other .item:last-of-type {
        border-left: #ddd 1px solid;
    }
    #result .other .item{
         padding: 1em;
    }
    #result .chart{
        padding: 2em;
    }
}
@media all and (min-width: 760px) and (max-width: 959px) {
   #result .other .item{
        width: 100%;
   }
    #result .love .pairing {
        font-size: 2em;
    }
}

@media all and (min-width: 480px) and (max-width: 759px) {
   #result .other .item{
        width: 100%;
   }
    #result .love .pairing {
        font-size: 1.5em;
    }
}

@media all and (max-width: 479px) {
   #result .other .item{
        width: 100%;
   }
    #result .love .pairing {
        font-size: 1.5em;
    }
}
/* footer */
#footer{
    width: 100%;
    height: 20vh;
    background-color: #000055;
    text-align: center;
}