.info h2:before{
	content: '';
}
.info p{
	width: 60%;
	margin: 3% -0px;
}
.info p .input{
	position: relative;
	display: inline-block;
	background: url(../img/share/input.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 156px;
	height: 17px;
}

.info p .input input{
	position: absolute;
	top: 5px;left: 11px;
	width: 135px;
	border: none;
	background: none;
	color: #fff;
}
.info p input:focus{
	outline:0;
}
.info p:last-child{
	text-align: center;
}
.info p .btn{
	display: inline-block;
	width: 80px;
	height: 30px;
}
.info p .btn input{
	cursor: pointer;
	position: static;
	width: 100%;
	height: 100%;
	background: url(../img/member/btn.png);
	background-size: contain;
	background-repeat: no-repeat;
	font-weight: bold;
	color: #FFC600;
}

.info p .btn input:hover{
	color: #FFFF00;
}
.info p .btn input:focus{
	outline:0;
}
@media all and (max-width: 479px) {
	.info p{
		width: 90%;
		margin: 3% auto;
	}
	.info p .input{
		width: 100px;
	}
	.info p .input input{
		font-size: 13px;
		top: 0px;left: 7px;
		width: 85px;
	}
	.info .btn .btnS{
		width: 80px;height: 20px;
	} 
	.info .btn .btnS .btnText{
		line-height: 20px;
	}
}