*{
	margin: 0;
	padding: 0;
	color: #fff;
}

.background img{
	width: 100vw;
	position: fixed;
	z-index: -999999;
}

.header{
	width: 100%;
	text-align: center;
}

.header img{
	width: 40%;
	margin-top: 200px;
}

.text{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.text p{
	font-size: 20px;
	line-height: 40px;
	letter-spacing: .15em;
}

.text p span{
	font-size: 34px;
}

.table .wrapper{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.table .wrapper h3{
	color: #f00;
	font-size: 30px;
	margin-top: 100px;
	text-decoration: underline;
}

table{
	font-size: 20px;
	margin: 0 auto;
}

table th,td{
	padding: 10px 40px;
}

table th{
	color: #f00;
}

.effects .wrapper{
	background-image: url(../img/karmainfo/frame_960x960.png);
	background-position: cover;
	background-size: 100%;
	width: 960px;
	height: 960px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #000;
}

.effects .wrapper h3{
	font-size: 30px;
	color: #f00;
	text-align: center;
	line-height: 200px;
	text-decoration: underline;
}

.effects .wrapper .pics .logo{
	width: 200px;
	position: relative;
	top: 180px;
	left: 380px;
}

.effects .wrapper .pics .one{
	position: relative;
	top: -250px;
	left: 400px;
	opacity: 0.6;
}

.effects .wrapper .pics .two{
	position: relative;
	top: -120px;
	left: 650px;
	opacity: 0.6;
}

.effects .wrapper .pics .three{
	position: relative;
	top: 100px;
	left: 650px;
	opacity: 0.6;
}

.effects .wrapper .pics .four{
	position: relative;
	top: 250px;
	left: 400px;
	opacity: 0.6;
}

.effects .wrapper .pics .five{
	position: relative;
	top: 100px;
	left: 170px;
	opacity: 0.6;
}

.effects .wrapper .pics .six{
	position: relative;
	top: -120px;
	left: 170px;
	opacity: 0.8;
}

.effects .wrapper .pics img{
	width: 150px;
	position: absolute;
}

.effects .wrapper .pics p{
	position: absolute;
	z-index: 999;
	color: #f00;
	text-align: center;
	left: 35px;
	top: 35px;
}

.effects .wrapper .pics p span{
	font-size: 30px;
}

.effects .wrapper .pics p:hover,
.effects .wrapper .pics p span:hover{
	opacity: 0;
}

.effects .wrapper .pics .one:hover,
.effects .wrapper .pics .two:hover,
.effects .wrapper .pics .three:hover,
.effects .wrapper .pics .four:hover,
.effects .wrapper .pics .five:hover,
.effects .wrapper .pics .six:hover{
	opacity: 1;
}

/*footer*/
.footer{
	width: 100%;
	height: 70px;
	margin-top: 50px;
	border-top: 1px #fff solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*左邊icon*/
.footer .icon ul li{
	display: inline-block;
}

.footer .icon ul li i{
	width: 40px;
	height: 40px;
	color: #ddd;
	padding: 20px 0 0 20px;
}

.footer .icon ul li i:hover{
	color: #0ee7d5;
	transition: 1s;
	cursor: url(../img/dozen_storedetail/cursor.png)20 15,auto;
}

.footer .icon ul li i:active{
	cursor: url(../img/dozen_storedetail/cursor2.png)20 15,auto;
}

.footer .icon ul li:nth-child(1){
	padding-left: 35px;
}

/*右邊copyright*/
.copyright{
	text-align: right;	
}


.copyright p{
	font-size: 14px;
	color: #ddd;
	letter-spacing: 1px;	
	padding-right: 35px;
	margin-top: -35px;
}

/*RWD開始*/
@media screen and (max-width: 480px){
	.footer{
		height: 120px;
	}
	
	/*左邊icon*/
	.footer .icon{
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.footer .icon ul{
		text-align: center;
	}

	.footer .icon ul li:nth-child(1){
		padding-left: 0;
	}

	.footer .icon ul li:nth-child(2),
	.footer .icon ul li:nth-child(3){
		padding-left: 20px;
	}

	.footer .icon ul li i{
		padding: 20px 0 0 0;
	}
	
	/*右邊copyright*/
	.footer .copyright{
		display: block;
		text-align: center;
	}

	.footer .copyright p{
		margin: 10px 0 0 0;
	}
}
