*{
	margin: 0;
	padding: 0;
	font-family: 'Arial',"微軟正黑體";
}

body{
	overflow-x:hidden;
}
@font-face{
	font-family: 王漢宗特明體 – 標準;
	src:url('../font/王漢宗中明體繁- 細.ttf');
}
.background {
	width: 100%;
	height: 100vh;
    background: url("../img/share/bg.jpg");
    background-position: center center;
    -webkit-background-size: 100%;
    background-size: 100%;;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    min-width: 1500px;
}
.headerBlank{
	width: 100%;
	height: 70px;
}
.specialColumn{
	position: relative;
	max-width: 960px;
	margin: 30px auto;
	box-sizing: border-box;
	background-image: url(../img/share/texture.png);
	background-position: center center;
	background-size: 100% 100%;
}

.specialColumn .border{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 50px solid transparent;
	border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
	filter: drop-shadow(0px 0px 5px black) drop-shadow(2px 2px 5px black);
	box-sizing: border-box;
}

@media all and (min-width: 760px) and (max-width: 959px) {
	.specialColumn .border{
		border: 40px solid transparent;
		border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
		padding: 20px;
	}
}

@media all and (min-width: 480px) and (max-width: 759px) {
	.specialColumn .border{
		border: 30px solid transparent;
		border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
		padding: 10px;
	}
}

@media all and (max-width: 479px) {
	.specialColumn .border{
		border: 30px solid transparent;
		border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
		padding: 0;
	}
}

.specialColumn .columnBorder{
	position: relative;
	padding: 70px;
}
@media all and (min-width: 760px) and (max-width: 959px) {
		.specialColumn .columnBorder {
			padding: 70px 20px;
		}
}
@media all and (min-width: 480px) and (max-width: 759px) {
	.specialColumn .columnBorder {
		padding: 70px 15px;
	}
}
@media all and (max-width: 479px) {
	.specialColumn .columnBorder {
		padding: 70px 10px;
	}
}
.specialColumn .columnBorder:after{
	content: '';
	display: block;
	clear: both;
}
.headerTitle{
	width: 80%;
	text-align: center;
	margin: 150px auto 0;
}
.headerTitle img{
	width: 80%;
}

.text{
	width: 70%;
	margin: 30px auto;
	text-align: center;
}
@media all  and (max-width: 759px) {
	.text{
		width: 90%;
	}
}
.text p{
	font-size: 18px;
	line-height: 42px;
	letter-spacing: 6px;
	color: #eee;
	margin-bottom: 20%;
}
.text p span{
	font-size: 34px;
}
.karCounting h2 {
	font-size: 40px;
	text-align: center;
	margin: 70px auto 20px;
	font-family: 王漢宗特明體 – 標準;

}
.countWay{
	width: 50%;
	float: left;
}
.countWay .countInfo{
	margin: 30px auto;
	padding-left: 30px;
}
.countWay .countInfo p span:nth-of-type(1){
	font-size: 25px;
}
.countWay .countInfo p span:nth-of-type(2) {
	padding-left: 5px;
	font-size: 20px;
	color: #b41616;
	font-weight: 400;
	text-shadow: 0px -1px 2px #000;
	animation: 2s move infinite;
	transition:0.5s ;
}
@keyframes  move{
	0%{transform: translateY(0px);}
	50% {
		transform: translateY(3px);
	}
	100% {
		transform: translateY(0px);
	}
}
.countBall{
	margin-left: 5%;
	margin-top: 5%;
	width: 45%;
	padding-top: 45%;
	float: left;
	position: relative;

}
.countBall img,svg{
	width: 100%;
	height: 100%;
	padding: 10% auto;
	position: absolute;
	top: 0;
	left: 0;
}
.countBall #fillgauge {
	z-index: 10;
}

.countBall .outBall {
	z-index: 11;
}
.countBall .outBall2{
	z-index:-1;
}
@media screen and (max-width:759px){
	.countWay {
		width: 100%;
		float:none;
		margin: 0 auto;
		text-align: center;
	}
	.countBall {
		width: 70%;
		padding-top: 70%;
		float:none;
		margin: 0 auto;
		display: none;
	}
	.countWay .countInfo {
		padding-left: 0;
	}
		.countWay .countInfo p span:nth-of-type(1) {
			font-size: 23px;
	}
	.countWay .countInfo p span:nth-of-type(2){
		font-size: 17px;
	}
	.headerTitle img{
		width: 100%;
	}
	.karCounting h2 {
		font-size: 30px;
	}
}