.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: -95%;
    z-index: 100;
    opacity: 0.1;
    transition: opacity 0.2s 0s, right 0s 0.2s;
}

#box-control:checked~.wrapper {
    opacity: 1;
    right: 0;
    transition: opacity 0.2s;
}

#lightbox {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #000000;
}

.box-close {
    display: block;
}

#lightbox #logo {
    padding: 3% 0;
    width: 100px;
    margin: 0 auto;
}

#lightbox #logo img {
    transition: 0.2s all ease;
    transform: scale(1);
    display: block;
    width: 100%;
    height: auto;
}

#lightbox #logo img.smaller {
    transform: scale(0.7);
}

#lightbox table {
    width: 350px;
    height: auto;
    margin: 0 auto;
    font-size: 1em;
    color: #fff;
    border-bottom: 0.7em transparent solid;
}

#lightbox table caption {
    margin: 1em 0;
}

#lightbox table tr {
    padding-bottom: 0.3em;
    border-bottom: 0.7em transparent solid;
}

#lightbox table tr th {
    width: 50px;
    text-align: left;
    border-bottom: 0.7em transparent solid;
}

#lightbox #add table tr th {
    width: 75px;
}

#lightbox table tr td {
    width: 200px;
    text-align: right;
}

#lightbox table tr #inp {
    background: url("../img/index/input.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 0.7em transparent solid;
}

#lightbox table tr input {
    width: 100%;
    height: 2em;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: transparent;
    font-size: 1em;
    color: #fff;
    text-align: center;
}

#lightbox table tr input:focus {
    outline: none;
}

#lightbox table tr #btn {
    width: 400px;
    text-align: center;
    border-bottom: 0.7em transparent solid;
}

#lightbox table tr #btn .btn {
    width: 120px;
    height: 2em;
    line-height: 2em;
    padding: 0.3em 0;
    background: url("../img/index/btn.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    font-family: "王漢宗粗明體繁-中";
}

#lightbox table tr #btn .btn p {
    margin: 0.5em auto;
}

#lightbox table tr #btn .btn p:hover {
    cursor: pointer;
}

#lightbox #login {
    transition: 0.2s all ease;
    height: auto;
    display: '';
}

#lightbox #login.click {
    height: 0;
    display: none;
}

#lightbox #add {
    transition: 0.2s all ease 2s;
    height: 0;
    line-height: 2em;
    display: none;
}

#lightbox #add.click {
    height: auto;
    display: '';
}
