@font-face{
	font-family:'王漢宗粗明體繁-中';
	src:url('../font/王漢宗粗明體繁-中.ttf');
}
@font-face {
	font-family: '王漢宗特明體 – 標準';
	src: url('../font/王漢宗特明體 – 標準.ttf');
}
@font-face {
	font-family: '王漢宗特明體 – 標準';
	src: url('../font/王漢宗特明體 – 標準.ttf');
}
.loginLightbox{
	width: 100%;	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 21;
	opacity: 0;
	transition: opacity 0.2s 0s, right 0s 0.2s;
	
}
.boxContent {
	width: 360px;	height: 500px;
	position: absolute;
	left: 0;right: 0;top: 0;bottom: 0;
	margin: auto;
	background: url('../img/index/hint.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
		font-family:'王漢宗粗明體繁-中';

}
#loginControl{
	position: fixed;
	left: -20px; top: -20px;
	opacity: 0;
}
#loginControl:checked+.loginLightbox{
	right: 0;
	opacity: 1;
}
.boxContent i{
	position: absolute;
	top: 70px;
	display: inline-block;
	font-size: 25px;
	color: #533E23;
	transition: 0.2s filter;
	filter: drop-shadow(0px 0px 2px #fec16a);
	z-index: 12;
}
.boxContent i:hover{
	color: #422a10;
}
.boxContent .loginClose{
	right: 30px;
}
.boxContent .backToLogin{
	top: 71px;
	left: 30px;
}
.boxContent form{
	position: absolute;
	top: 105px;
	width: 100%;
	text-align: center;
}
.boxContent form p{
	font-family:'王漢宗粗明體繁-中';
	margin: 10px 0;
	text-align: center;
}
.boxContent form p:first-of-type{
	color: rgb(215, 189, 165);
	letter-spacing: 6px;
	font-size: 1.5em;
	margin-left: 16px;
	font-weight: bold;
}
	.boxContent form p:first-of-type {
	margin: 11px 0 19px;
}
	.boxContent .loginForm p:nth-of-type(3) {
	margin-top: 28px;
}
.boxContent form p:last-of-type{
	margin: 67px 0 0;
}
.boxContent form p span{
	display: inline-block;
	color: rgb(100, 84, 72);
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	vertical-align: middle;
}
.boxContent form p span input{
	display: inline-block;
	height: 28px;	width: 140px;
	padding: 0 14px;
	box-sizing: border-box;
	border: none;
	background: url("../img/share/input.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 15px;
}
.boxContent form p span input:focus{
	outline: none;
}
.boxContent form p .loginBtn{
	font-family: '王漢宗特明體 – 標準';
	letter-spacing: 2px;
	width: 125px;
	height: 68px;
	line-height: 68px;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	background-color: transparent;
	background-image: url(../img/findTeacher/hint_btn.png);
	background-position: center center;
	background-size: 100% 100%;
	border: 0px;
	transition: filter 0.2s;
	color: #210;
	letter-spacing: 8px;
	padding-left: 8px;
	box-sizing: border-box;
}
.boxContent form p .loginBtn:focus{
	outline: none;
}
.boxContent form p .loginBtn:hover{
	filter: drop-shadow(0px 0px 3px #fc9) drop-shadow(0px 0px 5px #fec16a);
	color: rgb(236, 215, 174);
}
.loginForm{
	display: block;
}
.registerForm,.backToLogin{
	display: none;
}
.boxContent .registerForm p span:first-of-type{
	width: 110px;
	text-align: right;
}
.boxContent .registerForm p:first-of-type,
.boxContent .registerForm p:last-of-type{
	margin: 10px 0;
}
.boxContent .registerForm p{
	margin: 5px 0;
}