*{
	padding: 0;
	margin: 0;
}
body{
	background: url(../img/share/bg.jpg);
	background-size: cover;

}
a{
	text-decoration: none;
}
#logo{
	position: fixed;
	top: 50px;
	left: 47.5%;
	width: 5%;
	min-width: 100px;
}
.topBlank{
	height: 200px;
}
.wrapper{
	position: relative;
	background: url(../img/share/texture.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0;
	width: 960px;
	margin: 0 auto;
	padding: 70px;
	box-sizing: border-box;
	font-size: 0;
	color: #533e2f;
}
.wrapper .borderFrame{
	position: absolute;
	width: 100%;height: 100%;
	top: 0;left: 0;
	box-sizing: border-box;
	border: 50px solid transparent;
	border-image: url(../img/share/frame_960x960_2.png) 90 90 repeat;
	filter: drop-shadow(0px 0px 5px black) drop-shadow(2px 2px 5px black);
    box-sizing: border-box;
}



.wrapper .left{
	display: inline-block;
	width: 25%;
	position: relative;
	font-size: 16px;
	z-index: 3;
	vertical-align: top;
}
ol{
	font-size: 0;
}
ol li{
	display: inline-block;
	font-size: 16px;
}
	/*nav*/
.nav{
	padding: 0;
	margin-top: 25px;
	text-align: center;
}
.nav li{
	display: block;
	margin-top: 20px;
}

	/*content*/
.wrapper .right{
	display: inline-block;
	width: 75%;
	position: relative;
	font-size: 16px;
	z-index: 2;
}
.content{
	margin: 0 8%;
}
.content h2{
	position: relative;	
	margin: 25px 0;
}
.content h2:before{
	position: absolute;
	right: 10%;
	bottom: 0;
	font-size: 16px;
	cursor: pointer;
}
.content h2:after{
	content: '';
	width: 92%;
	display: block;
	background: rgba(83, 62, 47, 0.7);
	left: -1%;
	height: 2px;
	position: absolute;
	bottom: -10px;
}

	/*info*/

.info h2:before{
	content: '修改會員資料';
}
.info p{
	margin: 1% 0px;
}
.info p span{
	margin-left: 5%;
	vertical-align: middle;
}


	/*reply*/

.reply h2:before{
	content: '查看更多';
}
.reply .table{
	width: 90%;
	text-align: center;
}
.reply .table .tr{
	font-size: 0;
	margin-top: 20px;
}
.reply .table .tr .th{
	float: left;
	box-sizing: border-box;
	font-size: 18px;
}
.reply .table .tr .td{
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	font-size: 16px;
	padding: 5px;
}

	/*reply td width*/
.reply .table .tr .tdWidth:nth-child(1){
	width: 15%;
}
.reply .table .tr .tdWidth:nth-child(2){
	width: 45%;
}
.reply .table .tr .tdRight{
	display: inline-block;
	width: 40%;
}
.reply .table .tr .tdRight .tdWidth{
	width: 50%;
}

	/*reply text adjustment*/
.reply .table .tr .replyNo{
	font-size: 20px;	
}
.reply .table .tr .replyContent{
	text-align: left;
}
.reply .table .tr .replyContent p{
	font-size: 18px;
}
.reply .table .tr .replyContent p+p{
	font-size: 14px;
}
.reply .table .tr .replyContent p+p:before{
	content: '';
	display: block;
	margin: 10px 0;
	width: 90%;
	height: 1.5px;
	background:rgba(83, 62, 47, 0.7);
}

	/*trade*/

.trade h2:before{
	content: '查看更多';
}
.trade .table{
	width: 90%;
	font-size: 0;
}
.trade .table .tr > span:last-of-type{
	width: 4%;
	text-align: right;
}
.trade .table .tr .small{
	width: 16%;
}
.trade .table .tr .large,
.trade .table .tr .detail .large{
	text-align: left;
	width: 39%;
}
.trade .table .tr input{
	position: fixed;
	top: -20px;left: -20px;
	display: none;
	opacity: 0;
}
.trade .table .tr span:first-of-type{
	width: 25%;
	text-align: center;
}
.trade .table .tr input:checked + .detailList{
	height: auto;
	transform: scaleY(1);
	transform-origin: 0 0;
	transition:height 0s 0.3s, transform 0.3s 0s;
}
.trade .table .tr .detailList{
	transform: scaleY(0);
	height: 0;
	transition:height 0s 0.3s, transform 0.3s 0s;
}

.trade .table .tr .detail{
	box-sizing: border-box;
	font-size: 0;
}
.trade .table .tr p{
	text-align: center;
}
.trade .table .tr .detail span:first-of-type{
	margin-left: 25%;
}
.trade .table .tr .detail span:last-of-type{
	margin-right: 4%;
}
.trade .table .tr span,
.trade .table .tr .detail span{
	display: inline-block;
	padding: 5px;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
}
/*分隔線*/
.trade .table .tr .detail:first-of-type:before,
.trade .table .tr .detail:last-of-type:before{
	content: '';
	display: block;
	width: 100%;
	border-top: 1px solid #533e2f;
}


/*essay td width*/

.essay .table{
	width: 90%;
	text-align: center;
}
.essay .table .tr{
	font-size: 0;
	margin-top: 20px;
}
.essay .table .tr .th{
	display: inline-block;
	box-sizing: border-box;
	font-size: 20px;
}
.essay .table .tr .td{
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	font-size: 16px;
	padding: 5px;
}
.essay .table .tr .tdWidth:nth-child(1){
	width: 15%;
}
.essay .table .tr .tdWidth:nth-child(2){
	width: 65%;
}
.essay .table .tr .tdWidth:nth-child(3){
	width: 20%;
}

	/*essay text adjustment*/
.essay .table .tr .essayNo{
	font-size: 20px;	
}
.essay .table .tr .essayContent{
	text-align: left;
	font-size: 18px;
}
@media all and (min-width: 760px) and (max-width: 959px) {

}
@media all and (max-width: 759px) {
	
}
@media all and (max-width: 479px) {
	.wrapper{
		width: 90%;
		padding: 25px;
		border: none;
		border-image: none;
	}
	.wrapper .borderFrame{
		border: 25px solid transparent;
		border-image: url(../img/share/frame_960x960_2.png) 45 45 repeat;
	}
	.wrapper .left{
		float: none;
		position: fixed;
		width: 100%;
		bottom: 0;left: 0;
	}
	.nav{
		margin-top: 0px;
	}
	.nav li{
		width: 20%;
		padding: 8px;
		display: inline-block;
		box-sizing: border-box;
		border: 2px solid #FFC600;
		background-color: #000;
	}
	.nav li .btnM {
		background: none;
		display: block;
		width: auto;height: auto;
	}
	.nav li .btnM .btnText{
		font-size: 20px;
		height: auto;
		padding: 0 5px;
		letter-spacing: 0;
		line-height: 28px;
		color: #FFC600;
	}
	.navTeacher li{
		width: 25%;
		padding: 13px 18px;
	}
	.nav li a{
		display: inline-block;
		width: 100%;
		line-height: 24px;
		padding-bottom: 0;
		background: none;
	}

	.wrapper .right{
		width: 90%;
		margin: 0 auto;
		float: none;
	}
	.content h2:after{
		width: 102%;
	}

		/*reply*/

	.reply .table{
		width: 100%;
	}
	.reply .table .tr .th{
		display: none;
	}
	.reply .table .tr .td{
		padding: 3px;
	}
	.reply .table .tr .tdWidth:nth-child(1){
		width: 10%;
	}
	.reply .table .tr .tdWidth:nth-child(2){
		width: 60%;
	}
	.reply .table .tr .tdRight{
		display: inline-block;
		width: 30%;
		vertical-align: middle;
	}


	.trade table{
		width:100%;
		table-layout: fixed;
		word-wrap: break-word;
	}



	.reply .table .tr .tdRight .tdWidth{
		width: 100%;
		font-size: 14px;
		margin: 5px 0;
	}
	.essay .table .tr .th{
		display: none;
	}
	.essay .table .tr .tdWidth:nth-child(1){
		width: 10%;
	}
	.essay .table .tr .tdWidth:nth-child(2){
		text-align: center;
		width: 60%;
	}
	.essay .table .tr .tdWidth:nth-child(3){
		width: 30%;
		font-size: 14px;
	}
	.blank{
		display: block;
		height: 70px;
	}
}