.teacher .teacherBorder .pdRec_wrapper{
    position:fixed;
    width: 100%;
    height: 100%;   
    background-color: rgba(0,0,0,0.3);
    z-index:15;
    top: 0;
    left: 0;
    display:none;
}
.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox{
    width: 360px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/index/hint.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox  .loginClose{
    margin: 20px 0 15px 300px;
}
.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox .loginClose i{
    font-size: 25px;
    display: block;
    color: #533e2f;
    transition: 0.2s filter;
    filter: drop-shadow(0px 0px 5px #fec16a);
}
@font-face {
    font-family: '王漢宗粗明體繁-中';
    src: url('../font/王漢宗粗明體繁-中.ttf');
}
.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox  p:first-child{
    margin: 60px 0 10px;
}
.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox p{
    color: rgb(236, 215, 174);
    font-family: '王漢宗粗明體繁-中';
    letter-spacing: 6px;
    padding-left: 6px;
    text-align: center;
}
.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox .btn {
    position: relative;
    left: 50%;
    margin-left: -62.5px;
    width: 125px;
    height: 68px;
    line-height: 68px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
    background-image: url(../img/findTeacher/hint_btn.png);
    background-position: center center;
    background-size: 100% 100%;
    border: 0px;
    transition: filter 0.2s;
    text-align: center;
    color: rgb(236, 215, 174);
    font-family: '王漢宗粗明體繁-中';
    letter-spacing: 6px;
    padding-left: 6px;
}
.teacher .teacherBorder .merchandise.recommend h3{
    text-align: center;
    padding: 16px 0;
}
.teacher .teacherBorder .merchandise.recommend .content {
    margin: 0 4.16666% 5%;
}
@media all and (max-width: 759px) {
    .teacher .teacherBorder .merchandise.recommend .content {
        margin: 0;
    }
    .teacher .teacherBorder .merchandise.recommend h3 {
        font-size: 14px;
    }
}

.recommendSlider{
    border:1px #fff solid;
    width: 100vw;
    height: 100px;
}
.recommendSlider .white {
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,0.3);
}
.recommendSlider .recContainer{
    height: 100%;
    
}

.teacher .teacherBorder .productsSelect {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #fff;
    clear: both;
    overflow: scroll;
    position: relative;
    box-sizing: border-box;
}
@media all  and (max-width: 470px) {
    .teacher .teacherBorder .productsSelect {
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .teacher .teacherBorder .productsSelect .content {
        width: 300px;
        margin: 0;
    }
}

.teacher .teacherBorder .productsSelect .container {
    position: absolute;
    top: 0;
    left: 0px;
    transition: 1s left;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 0;
}

.teacher .teacherBorder .productsSelect .container .content {
    display:inline-block;
    vertical-align: center;
    margin: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    float: none;
    clear:both;
}

@media all and (max-width: 759px) {
    .teacher .teacherBorder .productsSelect .container .content {
        display: block;
        float: none;
        width: 300px;
    }
}
.teacher .teacherBorder .merchandise .content {
    width: 30%;
    box-sizing: border-box;
    float: left;
    margin: 0 1.66666%;
}
.teacher .teacherBorder .search{
    clear:both;
    position: relative;
}
.teacher .teacherBorder #name {
    clear:both;
    position: absolute;
    top: 32px;
    left: 50%;
    width: 300px;
    height: 0px;
    margin-left: -150px;
    transition: 1s height;
    overflow: scroll;
    background: url('../img/share/textarea.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    z-index:10;
    /* margin: 0 auto; */
    
}

.teacher .teacherBorder #name::-webkit-scrollbar {
    display: none
}

.teacher .teacherBorder #name li {
    position: relative;
    left: 50%;
    margin-left: -150px;
    text-align: left;
    padding:5px;
}

.teacher .teacherBorder #name li.highlight {
    background: #cff;
}