.teacher .teacherBorder .pdRec_wrapper3
,.teacher .teacherBorder .pdRec_wrapper2
,.teacher .teacherBorder .pdRec_wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}
.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox
,.teacher .teacherBorder .pdRec_wrapper2 .pdRec_lightbox
,.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox {
    width: 420px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/findTeacher/paper.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 11;
    color:#533e2f;
}
.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox .boxCloseLabel {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
    }
.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox .boxCloseLabel
.teacher .teacherBorder .pdRec_wrapper2 .pdRec_lightbox .boxCloseLabel,
.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox .boxCloseLabel{
    float:right;
    padding-top: 10px;
    padding-right: 20px;
}
.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox .lightboxClose
,.teacher .teacherBorder .pdRec_wrapper2 .pdRec_lightbox .lightboxClose
,.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox .lightboxClose {
    font-size: 25px;
    color: #533e2f;
    transition: 0.2s filter;
    filter: drop-shadow(0px 0px 5px #fec16a);
}
.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox .lightboxClose:hover
,.teacher .teacherBorder .pdRec_wrapper2 .pdRec_lightbox .lightboxClose:hover
,.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox .lightboxClose:hover {
    color: #533e2f;
    cursor: url('../img/share/cursor.png') 12 5, auto;
    filter: drop-shadow(0px 0px 10px #533e2f);
}
.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox p:nth-child(2)
    ,
.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox p:nth-child(2) {
    margin-top: 48px;
}
@font-face {
    font-family: '王漢宗粗明體繁-中';
    src: url('../font/王漢宗粗明體繁-中.ttf');
}
.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox .btnMRec
,.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox .btnMRec{
    width: 150px;
    height: 70px;
    line-height: 70px;
    font-weight: bold;
    display: block;
    background-color: transparent;
    background-image: url(../img/findTeacher/hint_btn.png);
    background-position: center center;
    background-size: 100% 100%;
    border: 0px;
    color: #f8cf82;
    transition: all .2s;
    margin: 15px auto;
    text-align: center;
}
.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox .btnMRec:hover
,.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox .btnMRec:hover{
filter: drop-shadow(0px 0px 2px #533e2f) drop-shadow(0px 0px 5px #533e2f);
cursor: url(../img/share/cursor.png) 12 5,auto;
}


.teacher .teacherBorder .pdRec_wrapper3 .pdRec_lightbox p:nth-child(2)
,.teacher .teacherBorder .pdRec_wrapper2 .pdRec_lightbox p:nth-child(2)
,.teacher .teacherBorder .pdRec_wrapper .pdRec_lightbox p:nth-child(2) {
    font-family: '王漢宗粗明體繁-中';
    padding-top: 55px;
    letter-spacing: 6px;
    padding-left: 6px;
    text-align: center;
    color:#000;
    font-size: 15px;
}
.teacherBorder{
    padding-bottom: 70px;
}
.teacher .teacherBorder .btnM {
    display: block;
    margin: 15px auto;
}
.teacher .teacherBorder .btnMRec p {
    color: rgb(223, 211, 174);
        font-size: 15px;

}
.content.drop .white {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
    .content.drop p {
        font-size: 15px;
    text-align: center;
    margin-top: 65%;
    }
.teacher .teacherBorder .merchandise.recommend {
    margin: 15px 0 0;
    padding: 0 30px;
}

.teacher .teacherBorder .merchandise.recommend form {
    padding-left: calc(85% - 570px);
}
.teacher .teacherBorder .merchandise.recommend form #btnSend{
    background-color: transparent;
    border:0px solid transparent;
}
.teacher .teacherBorder .merchandise.recommend h3 {
    text-align: center;
    padding: 16px 0;
}

.teacher .teacherBorder .merchandise.recommend .content.drag:active {
    cursor: move;
}
.content.drop{
    position: relative;
    width: 176px;
    height: 245px;
    box-sizing: border-box;
}
.content.drop p{
    text-align: center;
    margin-top: 65%;
}
.content.drop .describe {
    display: none;
}
.content.drop .merchandisePhoto{
    width: 70%;
}



.productsSelect .content.drag {
    width: 176px;
    height:420px;
}

@media all and (min-width: 760px) {
    .teacher .teacherBorder .merchandise.recommend .content.drag,
    .productsSelect .content.drag {
        width: 176px;
        height:420px;
    }
    .teacher .teacherBorder .merchandise.recommend .content {
        margin: 0 15px 5%;
    }
    
}

@media all and (max-width: 670px) {
    .teacher .teacherBorder .merchandise.recommend h3 {
        font-size: 14px;
    }
    .teacher .teacherBorder .merchandise.recommend .content {
        margin: 0 0 5%;
    }
}

.recommendSlider {
    width: 100vw;
    height: 100px;
}

.recommendSlider .recContainer {
    height: 100%;
}

.teacher .teacherBorder .productsSelect {
    height:420px;
    width: 100%;
    box-sizing: border-box;
    clear: both;
    position: relative;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: scroll;
    background:linear-gradient(to right, rgba(43, 26, 3, 1) 0%, rgba(43, 26, 3, 0.3) 1%, rgba(255, 255, 255, 0.3) 30%,  rgba(255, 255, 255, 0.3) 70%, rgba(43, 26, 3, 0.3) 99%, rgba(43, 26, 3, 1) 100%);
}
.productsSelect::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.6);
    height: 0;
}
.teacher .teacherBorder .productsSelect .back{
    height: 172px;
    background :linear-gradient(to bottom, rgba(43, 26, 3, 1) 0%, rgba(43, 26, 3, 0.8) 2%, rgba(43, 26, 3, 0.4) 15%, rgba(43, 26, 3, 0.8) 40%, rgba(23, 0, 0, 1) 85%, rgba(43, 26, 3, 0.95) 92%, rgba(43, 26, 3, 0.9) 95%);
}
.teacher .teacherBorder .productsSelect #white {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    opacity: 1;
    transition: 1s 0s opacity, 0s 1s left;
    ;
}
.teacher .teacherBorder  h3{
    padding-top: 20%;
    font-size: 20px;
}

.teacher .teacherBorder .productsSelect .container {
    position: absolute;
    top: 0;
    left: 0px;
    transition: 1s left;
    box-sizing: border-box;
    margin: 0 auto;
}

.teacher .teacherBorder .productsSelect .container .content {
    display: inline-block;
    vertical-align: top;
    vertical-align: center;
    margin: 0;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    float: none;
    clear: both;
    font-size: 16px;
    z-index: 0;
}
.teacher .teacherBorder .merchandise .content .merchandisePhoto {
    width: 160px;
    height: 160px;
}
.teacher .teacherBorder .merchandise .content .merchandisePhoto .pictureBorder{
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    position: absolute;
    border:20px solid transparent;
    border-image:url(../img/share/picframe.png) 30 30 repeat;
}
@media screen and(min-width: 960px){
    .teacher .teacherBorder .merchandise .content .merchandisePhoto {
        width: 160px;
    }
}

@media screen and(max-width: 959px) and (min-width: 760px){
    .teacher .teacherBorder .merchandise .content .merchandisePhoto {
        width: 100%;
    }
    
}
.teacher .teacherBorder .merchandise .content .merchandisePhoto img {
    width: 100%;
    height: 100%;
}
.teacher .teacherBorder .merchandise .content {
    width: 30%;
    box-sizing: border-box;
    float: left;
    margin: 0 1.66666%;
}
.teacher .teacherBorder .merchandise.recommend .content.drag .merchandiseIntro{
    padding:5px 10px 0 0;
    margin: 15px -10px 0 0;
    border-right:1px #3a2912 double;
    box-sizing: border-box;
}
.teacher .teacherBorder .merchandise.recommend .content .merchandiseIntro p:nth-child(3) span:nth-child(1){
    display:inline;
}

.teacher .teacherBorder .merchandise .content .merchandiseIntro p:nth-of-type(2) span:nth-of-type(2) {
    font-size: 25px;
    color: #800;
    font-weight: bold;
}
@media all and (min-width: 760px){
    .desktop{
        display:inline;
    }.phone{
        display:none;
    }
}
@media all and (max-width: 759px){
    .desktop {
        display: none;
    }
    .phone{
        display:block;
        padding:0 1%;
    }
    .phone h2,.phone h4{
        text-align: center;
        margin: 15px auto;
    }
    .phone .phoneItems {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 46%;
        padding: 0 1%;
        margin: 10px 0;
    }   
    .phone .phoneItems input[type="checkbox"]{
        position: absolute;
        top: 0;
        left: -10000px;
        opacity: 0;
    }
    .phone .phoneItems .prodCheck{
        font-size: 15px;
        position: absolute;
        top: 5px;
        right: 10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius:10px;
        border:rgb(221, 183, 12) 1px solid;
        z-index:1;
        text-align: center;
    }
    .phone .phoneItems .prodPhoto {
        position: relative;
        width: 100%;
    }
    .phone .phoneItems .prodPhoto .pictureBorder{
        width: 100%;
        height: 100%;
        box-sizing:border-box;
        position: absolute;
        border:10px solid transparent;
        border-image:url(../img/share/picframe.png) 30 30 repeat;
    }
    .phone .phoneItems .prodPhoto img {
        width: 100%;
    }
    .phone .phoneItems .prodInfo p{
        text-align: center;
        font-size: 15px;
    }
    .phone .phoneItems .prodInfo p:nth-of-type(2) span:nth-of-type(1){
        text-decoration: line-through;
        font-size: 10px;
    }
    .phone .phoneItems .prodInfo p:nth-of-type(2) span:nth-of-type(2) {
        color:#d00;
        font-weight:700;
        font-size: 23px;
    }
    .phone .btnS{
        margin: 15px auto;
        display: block;
    }
}
hr {
    border-color: #533e2f;
}
