*{
	margin: 0px;
	padding: 0;	
}

a.showKarma{
	position: fixed;
	right: 3%;
	top: 25%;
	text-decoration: none;
	display: inline-block;
	z-index:5;
}

@media all and (max-width: 960px) {
	a.showKarma {
		display: none;
	}
}
.showKarma:active {
	cursor: url(../img/share/cursor2.png) 12 5, auto;
}
.face{
	background-image: url(../img/showKarma/karma_frame.png);
	background-size: 100%;
	text-align: center;
	width: 150px;
	height: 198.75px;
	position: relative;
	letter-spacing: 1px;
	margin: 0 auto;
}
.face h3 {
	padding-top: 35px;
	color: #b19b42;
}
.face img{
	display: block;
	width: 65%;
	margin: 0 auto;
}

.face span{
	color:#d61616;
	font-weight:500;
	font-size: 25px;
	text-shadow:0px 0px 1px #000000;
}