@charset "UTF-8";
@font-face {
  font-family: "王漢宗粗明體繁-中";
  src: url(../font/王漢宗粗明體繁-中.ttf); }

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Arial',"微軟正黑體"; }

.headerBlank {
  width: 100%;
  height: 150px; }

h1 {
  padding-top: 30px;
  font-size: 45px;
  text-align: center;
  color: #ddd; 
  margin:80px 10px;
 
  }
  @media all and (min-width: 480px) and (max-width: 759px) {
    h1 {
      font-size: 35px; } }
  @media all and (max-width: 479px) {
    h1 {
      font-size: 30px; } }

.teacher {
  position: relative;
  max-width: 960px;
  margin: 30px auto;
  box-sizing: border-box;
  background-image: url(../img/share/texture.png);
  background-position: center center;
  background-size: 100% 100%; }
  .teacher .border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 50px solid transparent;
    border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
    filter: drop-shadow(0px 0px 5px black) drop-shadow(2px 2px 5px black);
    box-sizing: border-box; }
    @media all and (min-width: 760px) and (max-width: 959px) {
      .teacher .border {
        border: 40px solid transparent;
        border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
        padding: 20px; } }
    @media all and (min-width: 480px) and (max-width: 759px) {
      .teacher .border {
        border: 30px solid transparent;
        border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
        padding: 10px; } }
    @media all and (max-width: 479px) {
      .teacher .border {
        border: 30px solid transparent;
        border-image: url(../img/share/frame_960x960.png) 90 90 repeat;
        padding: 0; } }
  .teacher .teacherBorder {
    position: relative;
    padding: 70px; }
    @media all and (min-width: 760px) and (max-width: 959px) {
      .teacher .teacherBorder {
        border: 40px solid transparent;
        padding: 20px; } }
    @media all and (min-width: 480px) and (max-width: 759px) {
      .teacher .teacherBorder {
        border: 30px solid transparent;
        padding: 10px; } }
    @media all and (max-width: 479px) {
      .teacher .teacherBorder {
        border: 30px solid transparent;
        padding: 0; } }
    .teacher .teacherBorder .intro {
      padding: 30px; }
      @media all and (min-width: 760px) and (max-width: 959px) {
        .teacher .teacherBorder .intro {
          padding: 0px;
          padding-bottom: 20px; } }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .teacher .teacherBorder .intro {
          padding: 0px;
          padding-bottom: 20px; } }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .intro {
          padding: 0px;
          padding-bottom: 20px; } }
      .teacher .teacherBorder .intro:after {
        content: '';
        display: block;
        clear: both; }
      .teacher .teacherBorder .intro .teacherPhoto {
        width: 40%;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        position: relative; }
        .teacher .teacherBorder .intro .teacherPhoto img {
          width: 100%;
          transition: transform 10s; }
          .teacher .teacherBorder .intro .teacherPhoto img:hover {
            transform: scale(1.2, 1.2); }
        @media all and (min-width: 760px) and (max-width: 959px) {
          .teacher .teacherBorder .intro .teacherPhoto {
            width: 50%; } }
        @media all and (min-width: 480px) and (max-width: 759px) {
          .teacher .teacherBorder .intro .teacherPhoto {
            width: 50%; } }
        @media all and (max-width: 479px) {
          .teacher .teacherBorder .intro .teacherPhoto {
            margin: 20px 10%;
            width: 80%;
            float: none; } }
      .teacher .teacherBorder .intro .introContent {
        box-sizing: border-box;
        width: 60%;
        padding-left: 30px;
        float: left;
        color: #533e2f;
        font-weight: 600; }
        @media all and (min-width: 760px) and (max-width: 959px) {
          .teacher .teacherBorder .intro .introContent {
            width: 50%; } }
        @media all and (min-width: 480px) and (max-width: 759px) {
          .teacher .teacherBorder .intro .introContent {
            width: 50%; } }
        @media all and (max-width: 479px) {
          .teacher .teacherBorder .intro .introContent {
            width: 100%;
            float: none;
            padding: 10px; } }
        .teacher .teacherBorder .intro .introContent p {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 1px;
          margin-top: 10px;
          text-align:justify;
          line-height: 30px;
        text-justify: distribute;}
          @media all and (min-width: 480px) and (max-width: 759px) {
            .teacher .teacherBorder .intro .introContent p {
              font-size: 14px;
              line-height: 22px; } }
          @media all and (max-width: 479px) {
            .teacher .teacherBorder .intro .introContent p {
              font-size: 14px;
              line-height: 22px; 
            }
        .teacher .teacherBorder .intro .introContent p:first-child{
          text-align: center;
        }
        }
          .teacher .teacherBorder .intro .introContent p:nth-child(1):before {
            content: '暱稱';
            display: block;
            margin:10px auto;
            font-size: 20px; }
            @media all and (max-width: 479px) {
              .teacher .teacherBorder .intro .introContent p:nth-child(1):before {
                text-align: center; } }
          .teacher .teacherBorder .intro .introContent p:nth-child(2):before {
            content: '簡介';
            display: block;
            margin: 10px auto;
            font-size: 20px;
            margin-top: 20px; }
            @media all and (max-width: 479px) {
              .teacher .teacherBorder .intro .introContent p:nth-child(2):before {
                text-align: center;} }
          .teacher .teacherBorder .intro .introContent p:nth-child(3) {
            margin-top: 20px; }
            .teacher .teacherBorder .intro .introContent p:nth-child(3) i {
              font-size: 20px;
            color: rgb(223, 211, 174);
            }
              @media all and (min-width: 480px) and (max-width: 759px) {
                .teacher .teacherBorder .intro .introContent p:nth-child(3) i {
                  font-size: 14px; } }
              @media all and (max-width: 479px) {
                .teacher .teacherBorder .intro .introContent p:nth-child(3) i {
                  font-size: 12px; } }
    .teacher .teacherBorder .links {
      width: 100%;
      font-size: 0;
      margin-bottom: 30px;
      margin-top: 20px;
      box-sizing: border-box; }
      .teacher .teacherBorder .links:after {
        content: '';
        display: block;
        clear: both; }

        .teacher .teacherBorder .links .left .btnM .btnText {
          cursor: url(../img/share/cursor.png)20 15,auto;


        }

        .teacher .teacherBorder .links .left .btnM .btnText:active {
          cursor: url(../img/share/cursor2.png)20 15,auto;
        }

        .teacher .teacherBorder .links .right .btnM .btnText {
          cursor: url(../img/share/cursor.png)20 15,auto;


        }

        .teacher .teacherBorder .links .right .btnM .btnText:active {
          cursor: url(../img/share/cursor2.png)20 15,auto;
        }
        .teacher .teacherBorder .links .left,
        /* .teacher .teacherBorder .links .middle, */
      .teacher .teacherBorder .links .right {
        float: left;
        width: 50%;
        text-align: center; }
        @media all and (max-width: 759px) {
          .teacher .teacherBorder .links .left {
            width: 100%;
            float: none; } }
        .teacher .teacherBorder .links .left a:hover {
          cursor: url(../img/share/cursor.png) 20 15, auto; }
        .teacher .teacherBorder .links .left a:active {
          cursor: url(../img/share/cursor2.png) 20 15, auto; }
        @media all and (max-width: 759px) {
            /* .teacher .teacherBorder .links .middle , */
              .teacher .teacherBorder .links .right{
            width: 100%;
            float: none;
            margin-top: 20px;
            }
          .teacher .teacherBorder .links .right {
            width: 100%;
            float: none;
            margin-top: 20px; } }
        .teacher .teacherBorder .links .right a:hover {
          cursor: url(../img/share/cursor.png) 20 15, auto; }
        .teacher .teacherBorder .links .right a:active {
          cursor: url(../img/share/cursor2.png) 20 15, auto; }
 
    .teacher .teacherBorder .articleList {
      width: 100%;
      padding:32px;
      padding-bottom: 0;
      box-sizing: border-box; 
      position:relative;}
      .teacher .teacherBorder .articleList h2 {
        font-size: 35px;
        text-align: center;
        color: #533e2f; }
        .teacher .teacherBorder .merchandise h2 {
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        color: #533e2f; }
        .teacher .teacherBorder .articleList .newArticle{
           position: absolute;
           top: 0;
           right: 0;
           margin: 30px auto;
        }
       
      @media all and (min-width: 760px) and (max-width: 959px) {
        .teacher .teacherBorder .articleList {
          padding:30px 0px; } }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .teacher .teacherBorder .articleList {
          padding:30px  0px; } 
        }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .articleList {
          padding:30px  0px; }
          .teacher .teacherBorder .articleList .newArticle {
            position: static;
          }
         }
      @media all and (min-width: 480px) and (max-width: 759px) {
          .teacher .teacherBorder .articleList .first {
            border-bottom: 1px solid #ddd; } 
          .teacher .teacherBorder .articleList .first:nth-of-type(1){
          border-bottom: 1px solid transparent;
          }
        }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .articleList .first {
          border-bottom: 1px solid #ddd; } 
        .teacher .teacherBorder .articleList .first:nth-of-type(1) {
          border-bottom: 1px  solid transparent ;
        }
      }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .teacher .teacherBorder .articleList .second {
          border-bottom: 1px solid #ddd; } }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .articleList .second {
          border-bottom: 1px solid #ddd; } }
      .teacher .teacherBorder .articleList .article {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px; }
        .teacher .teacherBorder .articleList .article .pic {
          width: 25%;
          box-sizing: border-box;
          float: left;
          position: relative; }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .teacher .teacherBorder .articleList .article .pic {
              width: 70%;
              margin:20px auto;
              float: none; } }
          @media all and (max-width: 479px) {
            .teacher .teacherBorder .articleList .article .pic {
              width: 60%;
              margin:20px auto;
              float: none; } }
          .teacher .teacherBorder .articleList .article .pic .picContainer .picBorder {
            cursor: url(../img/share/cursor.png) 20 15,
            auto;
            border: 30px solid transparent;
            position: absolute;
            border-image: url(../img/share/picframe.png) 30 30 repeat;
            width: 100%;
            height: 100%; }
            .teacher .teacherBorder .articleList .article .pic .picContainer .picBorder:active{
              cursor: url(../img/share/cursor2.png) 20 15,auto;
            }
          .teacher .teacherBorder .articleList .article .pic img {
            width: 100%; }
            .teacher .teacherBorder .articleList .article a{
              cursor: url(../img/share/cursor.png) 20 15,
              auto;
            }
            .teacher .teacherBorder .articleList .article a:active {
              cursor: url(../img/share/cursor2.png) 20 15, auto;
            }
        .teacher .teacherBorder .articleList .article .content {
          width: 70%;
          box-sizing: border-box;
          float: left;
          padding: 10px 10px 20px 45px;
          position: relative; }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .teacher .teacherBorder .articleList .article .content {
              width: 90%;
              margin: auto;
              float: none; } }
          @media all and (max-width: 479px) {
            .teacher .teacherBorder .articleList .article .content {
              width: 100%;
              float: none; } }
          .teacher .teacherBorder .articleList .article .content .topic h3 {
            color: #533e2f;
            font-size: 30px; 
            font-family: "王漢宗粗明體繁-中";
              text-decoration: none;
              color: #533e2f;
              filter:drop-shadow(0px 3px 1px #9c795f) drop-shadow(0px 3px 1px #9c795f);
              transform:translateY(0px);
              transition: .5s; }
              .teacher .teacherBorder .articleList .article .content .topic h3:hover {
                color:#800;
                filter:drop-shadow(0px 1px 1px #9c795f);
                transform:translateY(3px);
                cursor: url(../img/share/cursor.png) 20 15, auto; }
              .teacher .teacherBorder .articleList .article .content .topic h3:active {
                cursor: url(../img/share/cursor2.png) 20 15, auto; }
          .teacher .teacherBorder .articleList .article .content .topic .detail {
            float: right;
            margin-top: 5px; }
            .teacher .teacherBorder .articleList .article .content .topic .detail span {
              color: #533e2f; }
          .teacher .teacherBorder .articleList .article .content .topic:after {
            content: '';
            display: block;
            clear: both; }
            @media all and (max-width: 759px) {
              .teacher .teacherBorder .articleList .article .content .topic{
                text-align: center;
              }
              .teacher .teacherBorder .articleList .article .content .topic h3 {
                float: none;
            }
            .teacher .teacherBorder .articleList .article .content .topic .detail{
              float:none;
            }
            }

          .teacher .teacherBorder .articleList .article .content .preview {
            margin-top: 20px; }
            .teacher .teacherBorder .articleList .article .content .preview p {
              text-align: left;
              color: #533e2f;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 1px; }
              .teacher .teacherBorder .articleList .article .content .preview p span{
                color:#800 ;
              }
          .teacher .teacherBorder .articleList .article .content .more {
            text-decoration: none;
            position: absolute;
            display: block;
            bottom: 0;
            right: 0; }
        .teacher .teacherBorder .articleList .article .edit {
          
          float: left;
    margin-top: 9%;
    margin-left: 1%; }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .teacher .teacherBorder .articleList .article .edit {
              float: none;
              width: 90%;
              text-align: right;
              margin: 10px auto 10px auto; } }
          @media all and (max-width: 479px) {
            .teacher .teacherBorder .articleList .article .edit {
              float: none;
              width: 100%;
              text-align: right;
              margin: 10px auto 10px auto; } }
          .teacher .teacherBorder .articleList .article .edit a {
            margin: auto;
            display: block;
            width: 30px;
            height: 30px;
            text-decoration: none; }
            .teacher .teacherBorder .articleList .article .edit a:hover {
              cursor: url(../img/share/cursor.png) 20 15, auto; }
            .teacher .teacherBorder .articleList .article .edit a:active {
              cursor: url(../img/share/cursor2.png) 20 15, auto; }
            @media all and (min-width: 480px) and (max-width: 759px) {
              .teacher .teacherBorder .articleList .article .edit a {
                display: inline-block;
                vertical-align: middle; } }
            @media all and (max-width: 479px) {
              .teacher .teacherBorder .articleList .article .edit a {
                display: inline-block;
                vertical-align: middle; } }
            .teacher .teacherBorder .articleList .article .edit a + a {
              margin-top: 20px; }
              @media all and (min-width: 480px) and (max-width: 759px) {
                .teacher .teacherBorder .articleList .article .edit a + a {
                  margin-top: -3px;
                  margin-left: 20px; } }
              @media all and (max-width: 479px) {
                .teacher .teacherBorder .articleList .article .edit a + a {
                  margin-top: -3px;
                  margin-left: 20px; } }
            .teacher .teacherBorder .articleList .article .edit a i {
              font-size: 30px;
              color: #533e2f; }
        .teacher .teacherBorder .articleList .article:after {
          content: '';
          clear: both;
          display: block; }
    .teacher .teacherBorder .merchandise {
      margin-top: 20px;
      padding: 30px; }
      @media all and (min-width: 760px) and (max-width: 959px) {
        .teacher .teacherBorder .merchandise {
          padding: 10px; } }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .teacher .teacherBorder .merchandise {
          padding: 10px; } }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .merchandise {
          padding: 10px; } }
      
      .teacher .teacherBorder .merchandise .content {
        width: 30%;
        box-sizing: border-box;
        float: left;
        margin: 0 1.66666%;
       }
       .teacher .teacherBorder .merchandise .content:hover{
         cursor: url(../img/share/cursor.png) 20 15,
         auto;
       }
       .teacher .teacherBorder .merchandise .content:active {
         cursor: url(../img/share/cursor2.png) 20 15, auto;
       }
        @media all and (max-width: 479px) {
          .teacher .teacherBorder .merchandise .content {
            width: 100%;
            margin:30px auto; } }
        .teacher .teacherBorder .merchandise .content .merchandiseIntro a {
          margin-top: 10px;
          text-decoration: none;
          display: block;
          text-align: center;
          font-size: 20px;
          color: #533e2f;
          font-weight: 600; }
          .teacher .teacherBorder .merchandise .content .merchandiseIntro a:hover {
            cursor: url(../img/share/cursor.png) 20 15, auto; }
          .teacher .teacherBorder .merchandise .content .merchandiseIntro a:active {
            cursor: url(../img/share/cursor2.png) 20 15, auto; }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .teacher .teacherBorder .merchandise .content .merchandiseIntro a {
              font-size: 18px; } }
          @media all and (max-width: 479px) {
            .teacher .teacherBorder .merchandise .content .merchandiseIntro a {
              font-size: 16px; } }
        .teacher .teacherBorder .merchandise .content .merchandiseIntro p {
          color: #533e2f;
          font-weight: 500;
          margin-top: 10px;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 1px;
          text-align: justify;
          margin-top: 10px;
           }
          .teacher .teacherBorder .merchandise .content .merchandiseIntro a p:nth-of-type(1) {
            transition:0.2s all linear;
            font-weight:400;
            font-size: 25px;
            margin-top: 25px;
          }
@keyframes move{
   0%{transform:translateY(0.2px)}
   60%{transform:translateY(1px)}
   100%{transform:translateY(0px)}
}
          .teacher .teacherBorder .merchandise .content .merchandiseIntro a p:nth-of-type(1):hover {
            filter:drop-shadow(0px 0px 1px #f8e1c5) drop-shadow(0px 0px 3px #f8e1c5);
          animation:1s move infinite;
          }
          
          .teacher .teacherBorder .merchandise .content .merchandiseIntro  p span:nth-child(1) {
            text-decoration: line-through;
          }

          .teacher .teacherBorder .merchandise .content .merchandiseIntro  p span:nth-child(2) {
            font-size: 25px;
            color: #800;
            font-weight: bold;
          }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .teacher .teacherBorder .merchandise .content .merchandiseIntro p {
              font-size: 14px;
              line-height: 22px; } }
          @media all and (max-width: 479px) {
            .teacher .teacherBorder .merchandise .content .merchandiseIntro p {
              font-size: 14px;
              line-height: 22px; } 
          .teacher .teacherBorder .merchandise .content .merchandiseIntro p:nth-of-type(3) span:nth-child(2){
              font-size: 30px;
           }
          }
          
        .teacher .teacherBorder .merchandise .content .merchandisePhoto {
          width: 100%;
          position: relative;
          box-sizing: border-box;
      }
                .teacher .teacherBorder .merchandise .content .merchandisePhoto a{
                            cursor: url(../img/share/cursor.png) 20 15,auto;
                }
        .teacher .teacherBorder .merchandise .content .merchandisePhoto a:active {
          cursor: url(../img/share/cursor2.png) 20 15,auto;
        }
          @media all and (min-width: 760px) and (max-width: 959px) {
            .teacher .teacherBorder .merchandise .content .merchandisePhoto {
              width: 70%;
              margin: 0 auto; } }
          @media all and (min-width: 480px) and (max-width: 759px) {
            .teacher .teacherBorder .merchandise .content .merchandisePhoto {
              width: 70%;
              margin: 0 auto; } }
          @media all and (max-width: 479px) {
            .teacher .teacherBorder .merchandise .content .merchandisePhoto {
              width: 60%;
              margin: 0 auto; } }
          .teacher .teacherBorder .merchandise .content .merchandisePhoto img {
            width: 100%; }
      .teacher .teacherBorder .merchandise:after {
        display: block;
        content: '';
        clear: both; }
    .teacher .teacherBorder .merchandise.recommend .content {
      width: 25%;
      margin: 0 4.16666%;
      padding: 10px; }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .teacher .teacherBorder .merchandise.recommend .content {
          float: none;
          width: 100%;
          margin: 0 auto; } }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .merchandise.recommend .content {
          width: 100%;
          margin: 0 auto; } }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .teacher .teacherBorder .merchandise.recommend .content .merchandisePhoto {
          width: 25%;
          float: left; } }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .merchandise.recommend .content .merchandisePhoto {
          width: 30%;
          float: left; } }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .teacher .teacherBorder .merchandise.recommend .content .merchandiseIntro {
          margin-left: 5%;
          width: 70%;
          float: left; } }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .merchandise.recommend .content .merchandiseIntro {
          margin-left: 5%;
          width: 65%;
          float: left; } }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .merchandise.recommend .content .merchandiseIntro p:nth-of-type(3) {
          display: none; } }
      .teacher .teacherBorder .merchandise.recommend .content .merchandiseIntro p:nth-of-type(4) span:nth-child(1) {
        display: none; }
      .teacher .teacherBorder .merchandise.recommend .content .merchandiseIntro p:nth-of-type(4) span:nth-child(2) {
        font-size: 20px;
        color: #900;
        font-weight: bold; }
      .teacher .teacherBorder .merchandise.recommend .content:after {
        content: '';
        clear: both;
        display: block; }
    @media all and (max-width: 479px) {
      .teacher .teacherBorder .content.rear {
        margin-top: 30px; } }
    .teacher .teacherBorder .productsSelect {
      width: 100%;
      height: 300px;
      box-sizing: border-box;
      position: relative; }
      @media all and (min-width: 480px) and (max-width: 759px) {
        .teacher .teacherBorder .productsSelect {
          height: 200px; } }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .productsSelect {
          height: 150px; } }
    .teacher .teacherBorder .submit {
      margin-top: 20px;
      text-align: center; }

.picBorder {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 40px solid transparent;
  position: absolute;
  border-image: url(../img/share/picframe.png) 30 30 repeat;} 
  @media all and (max-width: 479px) {
    .picBorder {
      border:20px solid transparent;
      border-image: url(../img/share/picframe.png) 30 30 repeat;
    }
  }
  @media all and (min-width: 480px) and (max-width: 759px) {
    .picBorder {
      border:20px solid transparent;
      border-image: url(../img/share/picframe.png) 30 30 repeat;

    }
  }
  @media all and (max-width: 479px) {
    .picBorder {
      border:25px solid transparent;
      border-image: url(../img/share/picframe.png) 30 30 repeat;

    }
  }
.teacher .teacherBorder h1 {

  letter-spacing: 20px;
  filter: drop-shadow(0px 3px 1px #9c795f) drop-shadow(0px 3px 1px #9c795f);
  color: #503e30; }

.teacher .teacherBorder .line {
  border-top: 1px solid #533e2f;
  /* padding-top: 10px; */
 }

.teacher .teacherBorder .intro {
  /* background: #533e2f; */
  letter-spacing: 5px;
  /* padding: 30px; */
  margin-top: 30px;
  font-size: 20px;
  color: #533e2f;
  font-weight: 600;
}

.teacher .teacherBorder .inputTopic {
  background:linear-gradient(to right, rgba(43, 26, 3, 1) 0%, rgba(128, 99, 59, 0.3) 1%,    rgba(128, 99, 59, 0.3) 99%, rgba(43, 26, 3, 1) 100%);
  border: 2px solid #533e2f;
  
  display: block;
  width: 90%;
  height: 40px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px; }
  .teacher .teacherBorder .inputTopic:focus {
    outline: none; }
.teacher .teacherBorder input[type="file"]{
  display: none;
}
.teacher .teacherBorder form .fileLabel {
  cursor: url(../img/share/cursor.png)20 15,auto;
  text-align: center;
  display: block;
  margin-left: 5%;
  border: 2px solid #333;
  height: 30px;
  width: 100px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 2px;
  font-family: "微軟正黑體"; }

  .teacher .teacherBorder form .fileLabel:hover {
background-color: #533e2f;
color: #ddd;
  }
  .teacher .teacherBorder form .fileLabel:active {
    cursor: url(../img/share/cursor2.png)20 15,auto;
      

  }


  .teacher .teacherBorder .inputImg:focus {
    outline: none; }

.teacher .teacherBorder .inputContent {
  background:linear-gradient(to right, rgba(43, 26, 3, 1) 0%, rgba(128, 99, 59, 0.3) 1%,    rgba(128, 99, 59, 0.3) 99%, rgba(43, 26, 3, 1) 100%);
  width: 90%;
  display: block;
  height: 200px;
  font-size: 20px;
  margin: auto;
  margin-top: 10px;
  border: 2px solid #533e2f;
  box-sizing: border-box;
  padding: 10px; }
  .teacher .teacherBorder .inputContent:focus {
    outline: none; }

.teacher .teacherBorder .inputContent.third {
  margin-bottom: 20px; }

.teacher .teacherBorder .btnM {
  display: block;
  margin: 0 auto; }

.hr {
  border-color: #533e2f; }

.teacher .teacherBorder .schedule {
  margin-top: 20px;
  padding: 30px; }
  .teacher .teacherBorder .articleList .newArticle .btnM{
    background:url('../img/btn/article.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    outline: none;
  }
  .teacher .teacherBorder .articleList .newArticle .btnM .btnText:hover {
     cursor: url(../img/share/cursor.png) 20 15,
     auto;
  }
    .teacher .teacherBorder .articleList .newArticle .btnM .btnText:active {
   cursor: url(../img/share/cursor2.png) 20 15,
   auto;
    }
  @media all and (min-width: 760px) and (max-width: 959px) {
    .teacher .teacherBorder .schedule {
      padding: 10px; } }
  @media all and (min-width: 480px) and (max-width: 759px) {
    .teacher .teacherBorder .schedule {
      padding: 10px; }
    .teacher .teacherBorder .articleList .newArticle .btnM{
      width: 100px;
      height: 25px;      
  }
  .teacher .teacherBorder .articleList .newArticle .btnM input{
    font-size: 12px;
    line-height: 25px;
  }
    }
  @media all and (max-width: 479px) {
    .teacher .teacherBorder .schedule {
      padding: 10px; }
  .teacher .teacherBorder .articleList .newArticle .btnM {
      width: 100px;
      height: 25px;
    }

    .teacher .teacherBorder .articleList .newArticle .btnM input {
      font-size: 12px;
      line-height: 25px;
    }
  }
  .teacher .teacherBorder .schedule h2 {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: #533e2f; }
  .teacher .teacherBorder .schedule .scheduleContent .content {
    box-sizing: border-box; }
    .teacher .teacherBorder .schedule .scheduleContent .content .left {
      float: left;
      width: 20%;
      box-sizing: border-box;
      padding-top: 5%; }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .schedule .scheduleContent .content .left {
          width: 100%;
          float: none;
          padding: 0; } }

      .teacher .teacherBorder .schedule .scheduleContent .content .left h3 {
        text-align: center;
        font-size: 20px; }

        @media all and (max-width: 479px) {
          .teacher .teacherBorder .schedule .scheduleContent .content .left h3 {
            text-align: left; } }
            
    .teacher .teacherBorder .schedule .scheduleContent .content .mid {
      float: left;
      width: 60%;
      box-sizing: border-box;
      padding: 20px; }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .schedule .scheduleContent .content .mid {
          width: 60%; } }
    .teacher .teacherBorder .schedule .scheduleContent .content .right {
      float: left;
      width: 20%;
      box-sizing: border-box;
      font-size: 0;
      padding: 5%; }
      @media all and (max-width: 479px) {
        .teacher .teacherBorder .schedule .scheduleContent .content .right {
          width: 40%;
          padding: 10% 5% 0 5%; } }
      .teacher .teacherBorder .schedule .scheduleContent .content .right a {
        display: inline-block; }
        .teacher .teacherBorder .schedule .scheduleContent .content .right a + a {
          margin-left: 20px; }
        .teacher .teacherBorder .schedule .scheduleContent .content .right a i {
          font-size: 30px;
          color: #533e2f; }
    .teacher .teacherBorder .schedule .scheduleContent .content:after {
      content: '';
      display: block;
      clear: both; }
  .teacher .teacherBorder .schedule .scheduleContent .other {
    border-top: 2px solid #533e2f; }
    .teacher .teacherBorder .schedule .scheduleContent .other span {
      display: block;
      margin: 30px auto; }
  .teacher .teacherBorder .schedule .maps {
    position: relative;
    width: 100%; }
    .teacher .teacherBorder .schedule .maps iframe {
      width: 100%;
      box-sizing: border-box;
      padding: 10px; }


   @media all and (max-width: 479px) {
    .rating{
      float:none;
      margin-left: calc(50% - 83px);
    }
   }