.teacher form{
	padding-right: 50%;
}
.teacher p{
	margin: 5% 0px;
}
.teacher p span{
	margin-left: 5%;
}
.teacher p .input{
	vertical-align: middle;
}
.teacher p input:focus{
	outline:0;
}

.teacher p .textarea textarea{
	vertical-align: middle;
	color: #000;
	margin-left: 5%;
	overflow-x: hidden;
	resize: none;
}
.teacher p:last-child{
	width: 100%;
	text-align: center;
}
@media all and (max-width: 479px) {
	.teacher form{
		padding-right: 30%;
	}
	.teacher p .input{
		width: 120px;
	}
	.teacher p .input input{
		font-size: 14px;
		top: 5%;
		width: 80px;
	}
}