@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import "../sass/mixins/mdqMixin.scss";
@font-face {
  font-family: "王漢宗中明體繁- 細";
  src: url('../font/王漢宗中明體繁- 細.ttf');
}

@font-face {

    font-family: "王漢宗粗明體繁-中";
    src: url('../font/王漢宗粗明體繁-中.ttf');
 
  }

  @font-face {
    font-family: "王漢宗特明體 – 標準";
    src: url('../font/王漢宗特明體 – 標準.ttf');  
  
  
  }

  

body{
    margin: 0;padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../img/dozen_storedetail/bg.jpg);
}





    
    
      @include phone-width{
      background-image: url(../img/hamburger/bright-galaxy-space-plain.jpg);
      background-position: center center;
      background-size: cover;
      padding-top: 10%;

    
      }
    

    
  
.header .logo{
    width: 100px;
    position: fixed;
    left: calc(50% - 50px);
    top: 3%;

    
  
}



.cart{

    color: white;
    font-family: "王漢宗中明體繁- 細";
    display: inline-block;
    position: fixed;
    top: 10%;
    right: 5%;

    @include phone-width{
      display: none;
       }

    
}

.frame{
    margin: 0 auto;
    margin-top: 13%;
    max-width: 960px;
    //height: 3000px;
    border: 50px solid transparent;
    border-image: url(../img/frame_960x960.png)90 90 repeat;
    box-sizing: border-box;
    background-image: url(../img/dozen_storeCart/reel2.png);
    background-size: cover;
    background-position: center center;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;

    .logo{
      @include phone-width{
       width: 100px;
        }
    }

   

    p{
        color: #fff;
        a{
            text-decoration: none;
            color: red;
        }
    }
    
    
}

#person{
    color: red;
}

.frame{

  padding: 0 2%;
    min-height: 500px;
  &:after{
    content: '';
    display: block;
    clear: both;
  }

  .title{
    margin-top: 2%;
    background-color: #564826;

    &:after{
      content: '';
      display: block;
      clear: both;

      

    }

      h2{
        float: left;
        margin-left: 15%;
        font-size: 14px;
        color: #fff;
        font-weight: 200;
        letter-spacing: 2px;

        @include phone-width{
          font-size: 1px;
          margin-left: 7%;
        }
      }

  }

  .content{
    padding-top: 5%;
    box-sizing: border-box;
    

      &:after{
        content: '';
        display: block;
        clear: both;
      }
      
    img{
      width: 10%;
      float: left;
      

      @include phone-width{
        margin-left: 2%;
        width: 20%;
        
       
      }

     
      
    }

    .name{
      float: left;
      width: 10%;
      margin-left: 5%;
      padding-top: 3%;

      @include phone-width{
        width: 50%;
        margin-left: 10%;
        float: none;

        p{
           @include phone-width{
        width: 50%;
        margin-left: 10%;
        float: none;
           }
        }
      }
    }

    .sum{
      float: left;
      margin-left: 10%;
      padding-top: 3%;
      letter-spacing: 2px;
     
      @include phone-width{
        float: right;
        
        margin-bottom: 3%;
       
        
       
      }
    }

    .amount{
      margin-left: 10%;
      float: left;
      padding-top: 3%;

          @include phone-width{
           
            width: 50%;
            
            margin-bottom: 50px;
          }
          
          color: #fff;

              label{
                display: inline-block;
                margin-bottom: 2%;
                color: #533e2f;
                letter-spacing: 5px;
                font-size: 14px;
              }
              .qtyminus{
                width: 30px;
                height: 30px; 
                border: 0;
                color: white;
                background-color: transparent;
                background-image: url(../img/dozen_storedetail/btn1.png);
                background-size: cover;
                background-position: center center;
              &:hover{
                cursor: url(../img/share/cursor.png)20 15,auto;
              }
              &:focus{
                outline: none;
              }
              &:active{
                box-shadow: inset 0px 0px 30px rgba(0,0,0,0.5);
                cursor: url(../img/share/cursor2.png)20 15,auto;
              }
              
                
              
            }

            .qtyplus{
              @extend .qtyminus;
            }



            .qty{
              background-image: url(../img/dozen_storedetail/input.png);
              background-size: cover;
              width: 70px;
              height: 30px;
              border: none;
              outline: none;
              color: #fff;
              text-align: center;
              

            }

    }

    .total{
      margin-left: 5%;
      float: left;
      padding-top: 3%;
      letter-spacing: 2px;

      @include phone-width{
        margin-left: 0%;
        display: none;
       
        
       
      }
    }

    .delete{
      float: left;
      margin-left: 11%;
      padding-top: 3%;
     

      @include phone-width{
        margin-left: 0%;
       
        
       
      }
          a{
                i{
                  color: #000;
                  
                }
          }

      

    }

  }
  

  hr{
    background-color: #000;
    margin-top: 2%;
    height: 1px;
    border: none;
  }

  .all{
    float: right;
    margin:2% 0;
    letter-spacing: 3px;
    

    @include phone-width{
      font-size: 10px;
    }

    span{
      color: #BA3232;
      font-size: 20px;
      

      
    }

        

  }

  .know{
    clear: both;
    text-align: center;
    margin: 20px auto;
    color: #533e2f;
  }

  .contract{
    width: 80%;
   padding: 30px;
   height: 300px;
    background-color: #eee;
    clear: both;
    margin: 0 auto;
    overflow:scroll;
    border: 5px solid #533e2f;
    //border-image: url(../img/dozen_storeCart/frame2.png);

      td{
        vertical-align: top;
        line-height: 30px;
      }
    
  }

  .agree{
    text-align: center;
    margin-top: 10px;

    input{
      border-radius: 1px;
      display: inline;
    }
    p{
      margin-left: 10px;
      display: inline;
    }
  }

  .pay{
    color: #fff;
    font-size: 12px;
    letter-spacing: 4px;
    display: block;
    width: 150px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    background-image: url(../img/dozen_storedetail/btn.png);
    background-size: contain;
  }

  
                    
}                 

                    





